html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    font-family: var(--ff);
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

img,
video {
    pointer-events: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
    outline: none;
}

::selection {
    background-color: hsla(235, 3%, 90%, 0.2);
}

::-moz-selection {
    background-color: hsla(235, 3%, 90%, 0.2);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root {
    font-size: 20px;

    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    --black: #000000;
    --white: #ffffff;
    --gray1: hsla(235, 5%, 83%, 1);
    --gray2: hsla(235, 5%, 71%, 1);
    --gray25: #3D3D42;
    --gray3: hsla(235, 5%, 15%, 1);
    --gray4: hsla(235, 5%, 9%, 1);
    --gray5: hsla(235, 5%, 6%, 1);

    --ff: 'SF Pro Display', arial;

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --h1-bold: var(--font-bold) 4rem/4rem var(--ff);
    --h1-medium: var(--font-medium) 4rem/4rem var(--ff);
    --h1-regular: var(--font-regular) 4rem/4rem var(--ff);

    --h2-bold: var(--font-bold) 3.5rem/3.5rem var(--ff);
    --h2-medium: var(--font-medium) 3.5rem/3.5rem var(--ff);
    --h2-regular: var(--font-regular) 3.5rem/3.5rem var(--ff);

    --h3-bold: var(--font-bold) 2.5rem/2.5rem var(--ff);
    --h3-medium: var(--font-medium) 2.5rem/2.5rem var(--ff);
    --h3-regular: var(--font-regular) 2.5rem/2.5rem var(--ff);

    --h4-bold: var(--font-bold) 1.75rem/1.75rem var(--ff);
    --h4-medium: var(--font-medium) 1.75rem/1.75rem var(--ff);
    --h4-regular: var(--font-regular) 1.75rem/1.75rem var(--ff);

    --big-bold: var(--font-bold) 1.25rem/1.25rem var(--ff);
    --big-medium: var(--font-medium) 1.25rem/1.25rem var(--ff);
    --big-regular: var(--font-regular) 1.25rem/1.25rem var(--ff);

    --p-bold: var(--font-bold) 1rem/1rem var(--ff);
    --p-medium: var(--font-medium) 1rem/1rem var(--ff);
    --p-regular: var(--font-regular) 1rem/1rem var(--ff);

    --small-bold: var(--font-bold) 0.875rem/0.875rem var(--ff);
    --small-medium: var(--font-medium) 0.875rem/0.875rem var(--ff);
    --small-regular: var(--font-regular) 0.875rem/0.875rem var(--ff);
}

@media (max-width: 768px) {
    :root {
        font-size: 18px;

        --h1-bold: var(--font-bold) 3rem/3rem var(--ff);
        --h1-medium: var(--font-medium) 3rem/3rem var(--ff);
        --h1-regular: var(--font-regular) 3rem/3rem var(--ff);

        --h2-bold: var(--font-bold) 2.5rem/2.5rem var(--ff);
        --h2-medium: var(--font-medium) 2.5rem/2.5rem var(--ff);
        --h2-regular: var(--font-regular) 2.5rem/2.5rem var(--ff);

        --h3-bold: var(--font-bold) 2rem/2rem var(--ff);
        --h3-medium: var(--font-medium) 2rem/2rem var(--ff);
        --h3-regular: var(--font-regular) 2rem/2rem var(--ff);

        --h4-bold: var(--font-bold) 1.5rem/1.5rem var(--ff);
        --h4-medium: var(--font-medium) 1.5rem/1.5rem var(--ff);
        --h4-regular: var(--font-regular) 1.5rem/1.5rem var(--ff);

        --big-bold: var(--font-bold) 1.125rem/1.125rem var(--ff);
        --big-medium: var(--font-medium) 1.125rem/1.125rem var(--ff);
        --big-regular: var(--font-regular) 1.125rem/1.125rem var(--ff);

        --p-bold: var(--font-bold) 0.9rem/0.9rem var(--ff);
        --p-medium: var(--font-medium) 0.9rem/0.9rem var(--ff);
        --p-regular: var(--font-regular) 0.9rem/0.9rem var(--ff);

        --small-bold: var(--font-bold) 0.75rem/0.75rem var(--ff);
        --small-medium: var(--font-medium) 0.75rem/0.75rem var(--ff);
        --small-regular: var(--font-regular) 0.75rem/0.75rem var(--ff);
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 16px;

        --h1-bold: var(--font-bold) 2.5rem/2.5rem var(--ff);
        --h1-medium: var(--font-medium) 2.5rem/2.5rem var(--ff);
        --h1-regular: var(--font-regular) 2.5rem/2.5rem var(--ff);

        --h2-bold: var(--font-bold) 2rem/2rem var(--ff);
        --h2-medium: var(--font-medium) 2rem/2rem var(--ff);
        --h2-regular: var(--font-regular) 2rem/2rem var(--ff);

        --h3-bold: var(--font-bold) 1.5rem/1.5rem var(--ff);
        --h3-medium: var(--font-medium) 1.5rem/1.5rem var(--ff);
        --h3-regular: var(--font-regular) 1.5rem/1.5rem var(--ff);

        --h4-bold: var(--font-bold) 1.25rem/1.25rem var(--ff);
        --h4-medium: var(--font-medium) 1.25rem/1.25rem var(--ff);
        --h4-regular: var(--font-regular) 1.25rem/1.25rem var(--ff);

        --big-bold: var(--font-bold) 1rem/1rem var(--ff);
        --big-medium: var(--font-medium) 1rem/1rem var(--ff);
        --big-regular: var(--font-regular) 1rem/1rem var(--ff);

        --p-bold: var(--font-bold) 0.875rem/0.875rem var(--ff);
        --p-medium: var(--font-medium) 0.875rem/0.875rem var(--ff);
        --p-regular: var(--font-regular) 0.875rem/0.875rem var(--ff);

        --small-bold: var(--font-bold) 0.75rem/0.75rem var(--ff);
        --small-medium: var(--font-medium) 0.75rem/0.75rem var(--ff);
        --small-regular: var(--font-regular) 0.75rem/0.75rem var(--ff);
    }
}


h1 {
    font: var(--h1-regular)
}

h2 {
    font: var(--h2-regular);
}

h3 {
    font: var(--h3-regular);
}

h4 {
    font: var(--h4-regular);
}

p {
    font: var(--p-regular);
}

/* ------------------------------------------------------------------------------------------ */


.mobile-container {
    display: none;
}

/* Button */

.rectangle {
    position: relative;
    height: 30px;
    min-width: fit-content;
    max-width: fit-content;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(126, 128, 144, 0.5);
    background: rgba(22, 22, 24, 0.50);
    box-shadow: 0px 0px 5px 2px #000;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.under-rectangle-layer {
    width: fit-content;
    height: fit-content;
    background-color: aqua;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid rgba(181, 184, 208, 0.15);
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.17) inset;
    transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
    touch-action: manipulation;
}

.blob {
    position: absolute;
    border-radius: 106px;
    background: rgba(184, 193, 204, 0.20);
    filter: blur(5px);
    z-index: -10;
}

.grain-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/grain-btn.png) no-repeat;
    background-size: auto;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    z-index: 5;
    opacity: 0.4;
}

.btn-text-container {
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    width: fit-content;
    height: 100%;
}

.blob-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.under-rectangle-layer:hover .rectangle {
    box-shadow: 0px 0px 12px 3px rgba(108, 108, 111, 0.31) inset, 0px 0px 5.9px 3px #000;
    border: 1px solid rgba(126, 128, 144, 0.7);
}

.under-rectangle-layer:hover {
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.09) inset;
}

.under-rectangle-layer:active .rectangle {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1) inset, 0px 0px 5.9px 3px #000;
    transform: scale(0.97) translateZ(0);
    opacity: 0.9;
}

.under-rectangle-layer:active {
    transform: scale(0.97) translateZ(0);
}

.under-rectangle-layer.active .rectangle {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1) inset, 0px 0px 5.9px 3px #000;
    transform: scale(0.97) translateZ(0);
    opacity: 0.9;
}

.under-rectangle-layer.active {
    transform: scale(0.97) translateZ(0);
}











@media (max-width: 768px) {

    input {
        width: 250px;
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid rgba(181, 184, 208, 0.15);
        background: #161618;
        color: white;
        outline: none;
        transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
        color: white;
        font: var(--p-regular);
    }

    /* Text input with bottom margin */
    input[type=text] {
        margin-bottom: var(--margin-m);
    }

    input[type=text]:focus {
        background-image: url('images/name\ form\ icon.png');
        background-position: 12px center;
        /* 12px gap on the left */
        background-repeat: no-repeat;
        background-size: 18px auto;
        /* Height 100%, width auto */
        padding: 8px 42px;
    }

    /* Email input with larger bottom margin */
    input[type=email]:focus {
        background-image: url('images/email\ form\ icon.png');
        background-position: 12px center;
        /* 12px gap on the left */
        background-repeat: no-repeat;
        background-size: 18px auto;
        /* Height 100%, width auto */
        padding: 8px 42px;
    }


    /* Custom focus style for text input */
    input:focus {
        border: 1px solid #494950;
        background: var(--gray3);
        outline: none;
        /* Ensure default outline is off */
    }

    input::placeholder {
        color: #AEB1BB;
        /* Change this color to whatever you prefer */
        opacity: 1;
        /* Ensures the color is fully visible */
    }


    /* Custom focus style for text input */
    input:hover {
        border: 1px solid #494950;
        background: var(--gray3);
        outline: none;
        /* Ensure default outline is off */
    }

    /* Email input with larger bottom margin */
    input[type=email] {
        margin-bottom: var(--margin-xl);
    }





    .rectangle {
        transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .under-rectangle-layer {
        transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .btn-text {
        color: white;
        font: --font-medium;
        position: relative;
        font-size: 24px;
    }

    .mobile-container {
        display: block;
    }

    .form-container-mobile {
        position: fixed;
        bottom: 0;
        height: fit-content;
        /* Initial height fits the content */
        min-height: fit-content;
        /* The smallest height will fit the content */
        max-height: 100%;
        min-height: 47%;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 46px;
        padding-bottom: 32px;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: height 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-radius 0.3s ease;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        cursor: default;
    }

    .form-container-mobile-black-curtains {
        width: 100vw;
        height: 100%;
        position: absolute;
        background: rgba(217, 217, 217, 0.01);
        box-shadow: 0px -60px 60px 0px rgb(0, 0, 0) inset, 0px 60px 60px 0px rgb(0, 0, 0) inset;
        z-index: 20;
        display: none;
        transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .line-mobile {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 5px;
        background-color: var(--gray25);
        border-radius: 999px;
        cursor: ns-resize;
        z-index: 2;
        margin-top: 20px;
        transition: background-color 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .touch-area {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: transparent;
        cursor: ns-resize;
        margin-top: -10px;
        z-index: 90;
    }

    .center-box {
        width: 80px;
        height: 80px;
        background-color: lightgray;
    }

    .touch-area:hover+.line-mobile {
        width: 100px;
        height: 7px;
        background-color: white;
        transition: width 0.2s, height 0.2s, background-color 0.2s;
        z-index: 90;
    }


    .background-image {
        width: 100vw;
        height: 55vh;
        position: absolute;
        z-index: -1;
        background-image: url('images/main-image-mobile.png');
        background-position: center top;
        /* Center horizontally, align with the top vertically */
        background-repeat: no-repeat;
        background-size: cover;
        /* Ensures the image fills the container */
    }

    .link-container-mobile {
        position: absolute;
        display: flex;
        height: fit-content;
        gap: 8px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 16px;
        transition: transform 0.1s ease-in;
        /* Transition for scaling effect */
    }

    .arrow-mobile {
        height: 12px;
        width: auto;
        /* Transition for color change */
    }

    .link-mobile {
        font: var(--p-regular);
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
        /* Transition for color change */
    }

    .link-container-mobile:hover .link-mobile {
        color: var(--gray2);
        /* Change link text color */
    }

    .link-container-mobile:hover .arrow-mobile {
        filter: brightness(100);
        /* Change arrow color */
    }

    /* Active state */
    .link-container-mobile.active {
        transform: scale(0.05);
        /* Scale down effect */
    }

    .link-container-mobile.active .link-mobile {
        color: var(--gray2);
        /* Change text color */
    }

    .link-container-mobile.active .arrow-mobile {
        filter: brightness(100);
        /* Change arrow color */
    }

    .demo-title {
        font: var(--h2-bold);
        margin-bottom: 16px;
    }

    .inside-content {
        text-align: center;
    }

    .newsletter-mobile-title {
        font: var(--h1-bold);
        font-size: 32px;
        letter-spacing: -0.16px;
        margin-bottom: var(--margin-xs);
    }

    .newsletter-mobile-alt {
        color: #AEB1BB;
        font-size: 16px;
        line-height: 130%;
        padding-right: 16px;
        padding-left: 16px;
        margin-bottom: var(--margin-xl);
        text-align: center;
    }


}