html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(10rem - 32px);
  font-family: 'SF Pro Display Regular';
  color: var(--white);
  overflow-x: hidden;
  width: 100%;
}


body {
  scroll-behavior: smooth;
  scroll-padding-top: calc(10rem - 32px);
  font-family: 'SF Pro Display Regular';
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  width: 100%;
}

img,
video {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

/* select color */

::selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

::-moz-selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('fonts//Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root {
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;


  --ff-regular: 'SF Pro Display Regular', arial;
  --ff-medium: 'SF Pro Display Medium', arial;
  --ff-bold: 'SF Pro Display Bold', arial;


  --white: hsla(0, 0%, 100%, 1);
  --gray1: hsla(235, 5%, 70%, 1);
  --gray2: hsla(235, 5%, 35%, 1);
  --gray25: hsla(235, 5%, 45%, 1);
  --gray2: hsla(235, 5%, 35%, 1);
  --gray3: hsla(235, 5%, 15%, 1);
  --gray4: hsla(235, 5%, 9%, 1);
  --gray5: hsla(235, 5%, 6%, 1);
  --black: hsla(0, 0%, 0%, 1);
}

h1 {
  font-size: 64px;
  letter-spacing: -0.64px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

h2 {
  font-size: 48px;
  letter-spacing: -0.48px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

h3 {
  font-size: 32px;
  letter-spacing: -0.32px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
  line-height: 130%;
}

h4 {
  font-size: 20px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

h5 {
  font-size: 16px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

@media (max-width: 1064px) {

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

}

@media (max-width: 555px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    font-family: var(--ff-regular);
    font-weight: var(--font-regular);
    line-height: 130%;
  }
}



/* --------------------------------------------------------------------------------------------------- */



.spacer {
  width: 100%;
  height: 300vh;
  background-color: var(--black);
}









/* Title */

.section-title-container {
  text-align: center;
  margin-bottom: 64px;
}

.title-text-title-section {
  margin-bottom: 8px;
}

.alt-text-title-section {
  color: var(--gray1);
}


@media (max-width: 1064px) {
  .section-title-container {
    margin-bottom: 42px;
  }
}

@media (max-width: 555) {
  .section-title-container {
    margin-bottom: 36px;
  }
}












/* Following circle */

.circle {
  --circle-size: 12px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--white);
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}

@media (max-width: 1064px) {

  .circle {
    display: none;
  }
}









/* Navigation Bar */

nav {
  width: 1000px;
  height: 53px;
  position: fixed;
  z-index: 999;
  top: 24px;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  border-radius: 999px;
  border: 1px solid var(--gray3);
  background: rgba(0, 0, 0, 0.70);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 7px 0 24px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}

.inside-container-nav {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-button {
  border-radius: 999px;
  height: 39px;
  color: var(--white);
}

#nav-button:hover {
  border: 1px solid var(--gray25);
}

#nav-button:active {
  transform: scale(0.97) translateZ(0);
  opacity: 0.7;
}

.links-container {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

.links-container a {
  font-size: 20px;
  font-family: var(--ff-regular);
  color: var(--gray1);
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.links-container a.active {
  color: var(--white);
  /* This will be applied when the section is in view */
}

.links-container a:hover {
  color: var(--white);
  /* Color change on hover */
  transform: scale(1.05);
}

.links-container a:active {
  transform: scale(1) translateZ(0);
  opacity: 0.7;
}


.logo-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  touch-action: manipulation;
}

.logo-img-nav {
  padding: 5px;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo-container:hover .logo-img-nav {
  transform: scale(1.05);
}

.logo-container:active .logo-img-nav {
  transform: scale(1);
  opacity: 0.7;
}

.burger-menu-container,
.mobile-links-container,
.background-blur-thing-nav-mobile,
.overlay-close-button,
#button-nav-container-mobile {
  display: none;
}

.fireflies-easter-egg {
  position: absolute;
  bottom: 3px;
  font-size: 12px;
  color: var(--gray2);
  opacity: 0;
}

@media (max-width: 1064px) {
  nav {
    width: calc(100% - 64px);
    margin: 0 32px;
    left: 0;
    transform: none;
  }
}

@media (max-width: 850px) {
  .links-container {
    display: none;
  }

  #button-nav-container {
    display: none;
  }

  #button-nav-container-mobile {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: 11px 0 16px;
  }

  #nav-button.active {
    transform: scale(0.97) translateZ(0);
    opacity: 0.7;
  }

  nav {
    padding: 0;
    height: 48px;
    border-radius: 24px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .logo-container {
    margin-left: 14px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .burger-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
    margin-right: 8px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #burger-line {
    height: 2px;
    width: 30px;
    border-radius: 99px;
    background-color: var(--white);
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transform-origin: center;
  }

  .top-burger-line {
    position: relative;
  }

  .bottom-burger-line {
    position: relative;
  }

  .mobile-links-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    top: 60px;
  }

  .inside-container-nav {
    align-self: flex-start;
    margin-top: 8px;
  }

  .divider-mobile-menu {
    width: 100%;
    height: 1px;
    background-color: var(--gray3);
  }

  .link-elements-mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin: 12px 0;
  }

  .link-elements-mobile-nav a {
    color: white;
    text-decoration: none;
    font-family: var(--ff-medium);
    font-size: 24px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .background-blur-thing-nav-mobile {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 999;
    top: -100vh;
  }
}

@media (max-width: 555px) {
  nav {
    width: calc(100% - 32px);
    margin: 0 16px;
    left: 0;
    transform: none;
  }

  .logo-img-nav {
    height: 30px;
  }

  .inside-container-nav {
    margin-top: 9px;
  }
}



















/* Hero Section */

.nav-thing-for-hero-section {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: -9999;
  height: 100%;
  top: -20rem;
}


#load-in-btn-hero {
  margin-top: 42px;
}

.hero-section-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  position: relative;
  height: 100vh;
}

.hero-content-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}

.title-container {
  margin-bottom: 16px;
}

.title-container h1 {
  text-align: center;
  display: inline-block;
}

.title-container h1 span {
  filter: blur(10px);
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, filter 0.3s ease-out, transform 0.3s ease-
}

.alt-container h4 {
  text-align: center;
  color: var(--gray1);
}


@media (max-width: 1064px) {
  .hero-content-container {
    margin: 0 24px;
  }
}

@media (max-width: 555px) {
  .hero-content-container {
    margin: 0 16px;
  }
}







































/* Main Button */

.rectangle {
  position: relative;
  height: 44px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--gray2);
  background: #09090C;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.rectangle h4 {
  font-family: var(--ff-medium);
}

.btnh4 {
  font-size: 24px;
}

.under-rectangle-layer {
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid var(--gray3);
  background: rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 8px 3px rgba(175, 175, 182, 0.20) inset;
  backdrop-filter: blur(5px);
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.blob {
  position: absolute;
  border-radius: 100px;
  background: rgba(184, 193, 204, 0.20);
  filter: blur(10px);
  z-index: -10;
}

.grain-overlay-button {
  width: 100%;
  height: 100%;
  background: url(images/Grain-big.webp) repeat;
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  position: absolute;
  z-index: 5;
  opacity: 0.8;
}

.btn-text-container {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  width: fit-content;
  height: 100%;
}

.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1064px) {
  .rectangle {
    height: 38px;
  }

  .under-rectangle-layer {
    padding: 4px;
  }

  .btnh4 {
    font-size: 20px;
  }
}

@media (max-width: 555px) {
  .rectangle {
    height: 34px;
  }

  .rectangle h4 {
    font-size: 18px;
  }

  .btnh4 {
    font-size: 16px;
  }
}





















/* Alt button */

.white-btn-container {
  background-color: var(--white);
  height: 23px;
  width: fit-content;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 2px 12px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.white-mini-container {
  text-decoration: none;
  padding: 10px 0px 10px 10px;
  cursor: pointer;
  display: inline-block;
}

.white-btn-container h5 {
  font-family: var(--ff-medium);
}

.white-mini-container:hover .white-btn-container {
  background-color: hsla(235, 5%, 85%, 1);
  transform: scale(1.03);
}

.white-mini-container:active .white-btn-container {
  background-color: var(--gray1);
  transform: scale(0.97) translateZ(0);
  opacity: 0.9;
}

@media (max-width: 555px) {
  .white-mini-container {
    margin-top: 6px;
    padding: 10px;
  }
}












































/* Image slider */

.logos:hover .logos-slide,
.logos-dbb:hover .logos-slide-dbb,
.logos-opp:hover .logos-slide-opp {
  animation-play-state: paused;
}





.slider-container {
  width: 100%;
  margin-top: 192px;
  height: fit-content;
}

/* @keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
} */

.logos,
.logos-dbb,
.logos-opp {
  margin-top: 16px;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  z-index: 90;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos:before,
.logos:after,
.logos-dbb:before,
.logos-dbb:after,
.logos-opp:before,
.logos-opp:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-dbb:before,
.logos-opp:before {
  left: -15px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.logos:after,
.logos-dbb:after,
.logos-opp:after {
  right: -15px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.logos-slide,
.logos-slide-dbb {
  display: inline-flex;
  align-items: center;
  animation: 35s slide infinite linear;
  pointer-events: none;
}

.logos-slide img,
.logos-slide-dbb img,
.logos-slide-opp img {
  height: 340px;
  width: auto;
  border-radius: 20px;
  margin-right: 16px;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  pointer-events: auto;
}

/* @keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
} */

.logos-slide-opp {
  display: inline-flex;
  align-items: center;
  animation: 35s slide-opp infinite linear;
}

.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black-fade-out-thing-bottom {
  width: 100vw;
  height: 150px;
  bottom: -150px;
  z-index: 90;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
  pointer-events: none;
}

.black-bottom-content-container {
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  transform: scale(0.99);
}

@media (max-width: 1064px) {

  .logos:hover .logos-slide,
  .logos-dbb:hover .logos-slide-dbb,
  .logos-opp:hover .logos-slide-opp {
    animation-play-state: running;
  }

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    transform: scale(1);
  }


  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: auto;
    width: 50vw;
    border-radius: 16px;
    margin-right: 12px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 60px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 12px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-fade-out-thing-bottom {
    display: none;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 32px;
  }
}

@media (max-width: 555px) {

  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: 49vw;
    width: auto;
    border-radius: 12px;
    margin-right: 8px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 50px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 8px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 150px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-bottom: 0;
  }
}










































/* Counter Section */

.container-for-the-counter {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}

.counter-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 128px;
}

.counter {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count:before {
  content: "";
  position: absolute;
  width: 105%;
  height: 30px;
  bottom: 8px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.counter:nth-child(1) {
  width: 346px;
}

.counter:nth-child(2) {
  width: 250px;
}

.counter:nth-child(3) {
  width: 200px;
}

.counter p {
  font-size: 128px;
  font-family: var(--ff-bold);
  letter-spacing: -1.28px;
  line-height: 128px;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.counter .counter-number {
  margin-right: 5px;
}

.plus-sign {
  font-size: 128px;
  margin-left: -5px;
  z-index: 2;
}

.counter h5 {
  color: var(--gray1);
  width: 100%;
  text-align: start;
}

@media (max-width: 1064px) {
  .counter-container {
    gap: 0px;
    margin: 0 32px 128px 32px;
  }

  .counter:nth-child(1) {
    padding: 20px 20px 20px 0px;
  }

  .counter:nth-child(2) {
    padding: 20px;
  }

  .counter:nth-child(3) {
    padding: 20px 0px 20px 20px;
  }
}

@media (max-width: 830px) {
  .counter-container {
    flex-direction: column;
    align-items: center;
  }

  .counter h5 {
    text-align: center;
  }

  .counter:nth-child(1) {
    width: fit-content;
  }

  .counter:nth-child(2) {
    width: fit-content;
  }

  .counter:nth-child(3) {
    width: fit-content;
  }
}

@media (max-width: 555px) {

  .counter p,
  .counter .plus-sign {
    font-size: 100px;
    line-height: 100px;
  }

  .container-for-the-counter {
    margin-top: 92px;
  }

  .counter-container {
    margin: 0 16px 92px 16px;
  }

  .counter:nth-child(1) {
    padding: 20px;
  }

  .counter:nth-child(2) {
    padding: 20px;
  }

  .counter:nth-child(3) {
    padding: 20px;
  }
}







































/* Framework Section */

.framework-container {
  width: 100%;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.framework-sizer {
  width: 1000px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#framework-box {
  background-color: black;
  border-radius: 16px;
  border: 1px solid #252528;
  height: 400px;
  padding: 24px 30px 30px 30px;
  overflow: hidden;
  opacity: 0;
}

.framework-top-box-container,
.framework-bottom-box-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.planning-box,
.management-box {
  flex: 51;
}

.design-box,
.development-box {
  flex: 74;
}

.box-text-title {
  margin-bottom: 4px;
}

.box-text-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 9900;
}

.box-text-alt {
  color: var(--gray1);
  white-space: nowrap;
}

.design-box-black-thingy {
  width: 200%;
  height: 300%;
  background-color: var(--black);
  position: absolute;
  top: -140%;
  left: -80%;
  z-index: -2;
  filter: blur(25px);
  box-shadow: 19px 15px 46.7px 0px #000;
  border-radius: 90px;
}

.website-sketch-background {
  width: 240px;
  height: 250px;
  border-radius: 8px;
  background: #D2D2D2;
  box-shadow: -5px 0px 14.4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  display: flex;
  align-items: center;
  z-index: -20;
  flex-shrink: 0;
  flex-direction: column;
}

.website-sketch-title-box {
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #545454;
  margin-top: 25px;
}

.website-sketch-alt-long {
  width: 160px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #999;
  margin-top: 14px;
}

.website-sketch-alt-short {
  width: 120px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #999;
  margin-top: 10px;
}

.website-sketch-cta {
  width: 70px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin-top: 20px;
}

.website-sketch-image {
  width: 160px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #999;
  margin-top: 20px;
}

.floating-augustas-container {
  position: absolute;
  z-index: 20;
  height: fit-content;
  width: fit-content;
  left: -45px;
  bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.floating-daniel-container {
  position: absolute;
  z-index: 20;
  height: fit-content;
  width: fit-content;
  right: -45px;
  top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.floating-arrow-augustas {
  position: absolute;
  right: -15px;
  top: -3px;
}

.floating-arrow-daniel {
  position: absolute;
  left: -13px;
  top: -8px;
}

.augustas-vid-container {
  overflow: hidden;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
}

.augustas-vid-container video {
  width: 100%;
  height: 100%;
}

.little-card-augustas-floating {
  width: 66px;
  height: 17px;
  flex-shrink: 0;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(4.3px);
  text-align: center;
  padding-top: 1px;
}

.little-card-augustas-floating p {
  font-size: 12px;
  cursor: default;
}

.blob-blur-framework-box {
  position: absolute;
  width: 246px;
  height: 154px;
  flex-shrink: 0;
  background-color: #C7C7D4;
  filter: blur(67px);
  z-index: -30;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.background-blur-planning-box-bottom {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.background-blur-planning-box-left {
  position: absolute;
  width: 50px;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.background-blur-planning-box-right {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.image-desing-box-container {
  display: flex;
  gap: 8px;
  position: absolute;
  transform: rotate(20deg);
  left: -50px;
  top: -30px;
  z-index: -20;
}

.imgage-line-going-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imgage-line-going-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.design-box-image {
  width: 210px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 8px;
}

#box-black-design {
  background-color: var(--black);
}

.corner-fades-design-box,
.corner-fades-design-box-left,
.corner-fades-design-box-right,
.corner-fades-design-box-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.corner-fades-design-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.corner-fades-design-box-top:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.corner-fades-design-box-left:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.corner-fades-design-box-right:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.development-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.development-box:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.coding-thingy-container {
  width: 90%;
  height: 230px;
  position: absolute;
  bottom: 0;
  right: -10%;
  display: flex;
  box-shadow: -9px 8px 10px 0px rgba(0, 0, 0, 0.41);
}

.coding-thingy-code-container {
  flex: 1;
  height: 100%;
  text-align: start;
  padding-left: 16px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 0px;
  border-top: 1px solid #242424;
  border-right: 1px solid #242424;
  border-left: 1px solid #242424;
  background: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(20px);
  overflow: hidden;
  z-index: 90;
}

.coding-thingy-code-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.coding-thingy-code-container:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.coding-thingy-code-container .bottom-gradient {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.coding-thingy-code-container pre {
  font-size: 12px;
  cursor: default;
}

.coding-thingy-image-container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.coding-thingy-front-image {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.blured-out-image {
  position: absolute;
  width: 120%;
  height: 120%;
  left: 0px;
  z-index: -2;
  opacity: 0.4;
  background: url(images/bckthg.webp) left top / cover no-repeat;
  box-shadow: 0px 25px 238.3px 0px #000 inset;
  filter: blur(5px);
}

.blur-top-development-black {
  width: 100%;
  height: 100px;
  left: 0;
  position: absolute;
  background-color: var(--black);
  top: 0;
  z-index: -2;
}

.blur-top-development-black-fade {
  width: 100%;
  height: 100px;
  left: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  top: 100px;
  z-index: -1;
}

.gray1 {
  color: var(--gray1);
}

.gray2 {
  color: #b0b0b0;
}

.background-line-container-management-box {
  width: 90%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.background-line-container-management-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.background-line-container-management-box:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.management-box:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 30;
}

.management-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 300;
}

.lines-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: baseline;
  rotate: 180deg;
  position: absolute;
  flex-shrink: 0;
}

.lines-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: baseline;
  position: absolute;
  flex-shrink: 0;
}

.hoz-line {
  width: 100%;
  height: 1px;
  background-color: var(--gray2);
  flex-shrink: 0;
}

.hoz-line:nth-child(1) {
  background-color: transparent;
}

.ver-line {
  width: 1px;
  background-color: var(--gray2);
  height: 100%;
  flex-shrink: 0;
}

.ver-line:nth-child(1) {
  background-color: transparent;
}

.management-website-bck-cont {
  width: 270px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 0 8px 0 0;
  border: 1px solid #242424;
  background: #161618;
  position: absolute;
  left: 0;
  bottom: -20px;
  z-index: 20;
  padding-right: 16px;
}

.p-container-management {
  width: fit-content;
  height: fit-content;
  margin-top: 32px;
  left: -100px;
  position: absolute;
  display: flex;
  border: 1px solid #0C8CE9;
  align-items: center;
}

.focuss-liner-management {
  height: 48px;
  width: 1.5px;
  background-color: var(--white);
  margin-left: 5px;
}

.management-lorem-spacer {
  width: 25px;
}

.p-container-management p {
  background: linear-gradient(90deg, #FFF 60%, rgba(153, 153, 153, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
  font-size: 50px;
  white-space: nowrap;
}

.rectangle-top-management {
  position: absolute;
  right: -5px;
  top: -5px;
}

.rectangle-bottom-management {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

#rectangle-management {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border: 1px solid #0C8CE9;
  background: var(--white);
}

.size-teller-management-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 2px;
  background: #0C8CE9;
  padding: 1px 3px;
  bottom: -23px;
}

.size-teller-management-container p {
  font-size: 12px;
  color: var(--white);
  background: none;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
}

.text-below-container {
  width: fit-content;
  text-align: center;
  position: absolute;
  left: -60px;
  height: fit-content;
  margin-top: 130px;
}

.text-below-container p {
  font-size: 16px;
  color: var(--gray1);
}

.image-container-beneath-management {
  width: 250px;
  height: 200px;
  border-radius: 21px;
  background: var(--gray2);
  position: absolute;
  margin-top: 200px;
  left: -40px;
}

.ok-container-management,
.change-it-container-management {
  width: fit-content;
  padding: 3px 20px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 48px;
  position: absolute;
  z-index: 40;
}

.ok-container-management {
  background: #09F;
  right: -40px;
  top: 45px;
}

.change-it-container-management {
  background: #1364FF;
  right: -110px;
  top: 150px;
}

.management-arrow-text {
  font-size: 20px;
}

.arrow-management-ok {
  position: absolute;
  left: -15px;
  top: -15px;
}

@media (max-width: 1064px) {
  #framework-box {
    border-radius: 16px;
    height: 380px;
    max-width: 400px;
    flex: 1;
    padding: 16px 24px 24px;
  }

  .framework-sizer {
    margin: 0 32px;
  }

  .framework-top-box-container,
  .framework-bottom-box-container,
  .framework-sizer {
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .blur-top-development-black-fade {
    top: 80px;
  }
}

@media (max-width: 830px) {
  #framework-box {
    border-radius: 16px;
    height: 370px;
    width: 420px;
    flex: none;
  }

  .framework-top-box-container,
  .framework-bottom-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 555px) {
  .change-it-container-management {
    right: -90px;
    top: 140px;
  }

  .ok-container-management {
    right: -50px;
    top: 45px;
  }

  .image-container-beneath-management {
    border-radius: 16px;
    margin-top: 190px;
    left: -80px;
  }

  .text-below-container {
    left: -80px;
  }

  .size-teller-management-container {
    left: 60%;
    transform: translateX(-60%);
  }

  .p-container-management {
    left: -130px;
  }

  .management-website-bck-cont {
    width: 230px;
    height: 230px;
  }

  #framework-box {
    border-radius: 12px;
    height: 350px;
    width: 100%;
    padding: 14px 20px 20px;
  }

  .framework-top-box-container,
  .framework-bottom-box-container,
  .framework-sizer {
    gap: 8px;
  }

  .framework-sizer {
    margin: 0 16px;
  }

  .floating-augustas-container {
    left: -35px;
  }

  .floating-daniel-container {
    right: -35px;
  }

  .website-sketch-background {
    width: 210px;
    height: 250px;
    border-radius: 8px;
    background: #D2D2D2;
    box-shadow: -5px 0 14.4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    display: flex;
    align-items: center;
    z-index: -20;
    flex-direction: column;
  }

  .website-sketch-title-box,
  .website-sketch-alt-long,
  .website-sketch-alt-short,
  .website-sketch-cta,
  .website-sketch-image {
    flex-shrink: 0;
    border-radius: 5px;
  }

  .website-sketch-title-box {
    width: 160px;
    height: 40px;
    background: #545454;
    margin-top: 25px;
  }

  .website-sketch-alt-long {
    width: 160px;
    height: 10px;
    background: #999;
    margin-top: 14px;
  }

  .website-sketch-alt-short {
    width: 120px;
    height: 10px;
    background: #999;
    margin-top: 10px;
  }

  .website-sketch-cta {
    width: 70px;
    height: 25px;
    background: #FFF;
    margin-top: 20px;
  }

  .website-sketch-image {
    width: 160px;
    height: 110px;
    background: #999;
    margin-top: 20px;
    border-radius: 7px;
  }

  .design-box-black-thingy {
    width: 300%;
    height: 300%;
    top: -130%;
    left: -50%;
  }

  .corner-fades-design-box:before,
  .corner-fades-design-box-top:before {
    height: 50px;
  }

  .corner-fades-design-box-left:before,
  .corner-fades-design-box-right:before {
    width: 50px;
  }

  .mobile-dissapear {
    display: none;
  }

  .coding-thingy-container {
    right: 0;
  }

  .coding-thingy-code-container pre {
    font-size: 10px;
  }

  .framework-container {
    margin-bottom: 92px;
  }
}





























/* Testimonial section */

.testimonial-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  flex-direction: column;
  position: relative;
  /* Added this */
}

.testimonial-container:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  left: -15px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 30;
}

.testimonial-container:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  right: -15px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 30;
}

@media (max-width: 1350px) {

  .testimonial-container:before,
  .testimonial-container:after {
    display: none;
  }


}


.carousel-container {
  position: relative;
  width: 1000px;
  /* Fixed width for the carousel */
  height: fit-content;
  display: flex;
  justify-content: center;
  /* Horizontally center the carousel */
  /* padding: 0 16px; */
  /* Add horizontal padding for spacing */

}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
  gap: 16px;
  /* Add a 16px gap between slides */
}

.slide {
  flex: 0 0 calc(50% - 8px);
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray4);
  font-size: 24px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 16px;
  border: 1px solid var(--gray3);
  overflow: hidden;
}


.slide:not(.active) {
  opacity: 0.6;
  transform: scale(0.97);
}


.slide:not(.active) .slide-activator-conatiner {
  display: none;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

/* Hover Effect */
.arrow:hover {
  background-color: var(--white);
}

.arrow:active {
  background-color: var(--white);
  /* Slight gray background when pressed */
  transform: scale(0.95);
  /* Slightly shrink the button when pressed */
}

.arrow.left,
.arrow.right {
  border: solid 1px var(--white);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left-arrow-svg,
.arrow-right-arrow-svg {
  width: 7px;
  height: auto;
  transition: all 0.3s ease;
}

/* Apply filter to the arrow images when hovered */
.arrow:hover .arrow-left-arrow-svg,
.arrow:hover .arrow-right-arrow-svg {
  filter: brightness(0);
  /* Inverts the color to black */
}


.dots {
  bottom: 10px;
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover {
  background-color: var(--gray25);
}

.dot.active {
  background-color: var(--white);
}

.bottom-navigation-container-tesimonials {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-top: 16px;
}

.arrows-testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.slide-activator-conatiner {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 20;
  cursor: pointer;
}

.background-video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.testimonial-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Both SVG images are absolutely positioned and stack on top of each other */
.play-svg {
  position: absolute;
  width: 50px;
  /* Same width as the container */
  height: 50px;
  /* Same height as the container */
  transition: opacity 0.3s ease;
  /* Smooth fade-in and fade-out */
  opacity: 0;
  /* Start with the second SVG hidden */
}

/* Initially show the first SVG */
#svg1 {
  opacity: 1;
}

/* On hover/touch, swap visibility */
.play-button-container:hover #svg1,
.play-button-container:focus-within #svg1 {
  opacity: 0;
}

.play-button-container:hover #svg2,
.play-button-container:focus-within #svg2 {
  opacity: 1;
}

/* Touch events should behave similarly */
.play-button-container:active #svg1,
.play-button-container:active #svg2 {
  opacity: 1;
  /* Ensure both SVGs are properly handled on touch */
}


.on-top-of-video-slider {
  width: 100%;
  height: 33%;
  position: absolute;
  z-index: 2;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  border: 1px solid rgba(37, 37, 40, 0.10);
  background: rgba(0, 0, 0, 0.30);
  /* Initial background */
  backdrop-filter: blur(10px);
  padding: 0px 16px 0px 16px;
  transition: background 0.3s ease, height 0.3s ease;
  /* Adding transition */
}

.on-top-of-video-slider.hovered {
  background: var(--gray5);
  /* Change to the desired background color */
  height: 36%;
  /* Increase height */
}


.name-acc-container {
  height: fit-content;
}

.name-acc-container h5 {
  color: var(--gray1);
}

.play-button-container {
  width: 50px;
  height: 50px;
}






.video-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 80000;
  display: none;
  background: hsla(0, 0%, 0%, 0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
}

iframe#ytplayer {
  width: 100%;
  height: 100%;
  border: none;
}

.close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 32px;
  top: 32px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 81000;
  background: hsla(0, 0%, 0%, 0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  border: 1px solid var(--gray3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button img {
  width: 25px;
}

.close-button:hover {
  background: hsla(235, 5%, 6%, 0.7);
}









/* For screens below 1064px, keep the original behavior */
@media (max-width: 1064px) {
  .slide-activator-conatiner {
    width: 100%;
  }

  .carousel-container {
    position: relative;
    width: fit-content;
  }

  .bottom-navigation-container-tesimonials {
    width: 492px;
  }

  .carousel {
    width: 492px;
    /* Keep single slide visible */
  }

  .slide {
    flex: 0 0 100%;
    /* Each slide takes 100% width */
  }


}

@media (max-width: 555px) {

  .carousel-container {
    position: relative;
    width: 100vw;
    padding: 0 16px 0 16px;
  }

  .bottom-navigation-container-tesimonials {
    position: relative;
    width: 100vw;
    padding: 0 16px 0 16px;
  }

  .slide {
    height: 230px;
  }

  .close-button {
    right: 16px;
    top: 16px;
  }

}






















/* Pricing Section */

.pricing-section-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  flex-direction: column;
  position: relative;
  /* background-color: rgb(0, 255, 42); */
}

.pricing-holder {
  width: 1000px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  /* background-color: #09F; */
}

.main-prices {
  width: fit-content;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 8px;
}

.first-pricing-container,
.second-pricing-container {
  width: 328px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid var(--gray3);
  background: var(--black);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-near-pricing {
  width: 328px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid var(--gray3);
  background: var(--black);
  padding: 8px;
}

.pricing-boxes-holder {
  width: fit-content;
  align-items: top;
  gap: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.inside-pricing-container {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  background-color: var(--gray5);
  padding: 16px;
}

.inside-contacts-container {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  background-color: var(--gray4);
  padding: 16px;
}

.pricing-big-icon {
  width: 50px;
  height: 50px;
  background-color: var(--gray3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--gray2);
  flex-shrink: 0;
}

.pricing-top-lineris {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}



.spots-left-container {
  height: fit-content;
  width: fit-content;
  background-color: var(--gray3);
  border: 1px solid var(--gray2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}

.cicrcle-container-pumping {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 4px;
}

.little-circle {
  width: 9px;
  height: 9px;
  background-color: #16F534;
  border-radius: 50%;
}

.pumping-circle {
  width: 6px;
  height: 6px;
  border: 0.75px solid #16F534;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
}

.software-thing-priciing-container {
  height: fit-content;
  width: fit-content;
  border: 1px solid rgba(0, 157, 255, 0.50);
  background: rgba(45, 122, 172, 0.07);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  gap: 6px;
  margin-top: 12px;
}

.software-thing-priciing-container h5 {
  color: #009DFF;
}

.software-thing-priciing-container-dev {
  border: 1px solid rgba(155, 105, 255, 0.50);
  background: rgba(155, 105, 255, 0.07);
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  gap: 6px;
  margin-top: 12px;
}

.software-thing-priciing-container-dev {
  color: #9B69FF;
}



.price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  margin-top: 12px;
}


.price-container p {
  font-size: 24px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

.alt-pricing-text {
  color: var(--gray1);
  margin-top: 8px;
}

.divider-pricing {
  width: 100%;
  height: 1px;
  background-color: var(--gray2);
  margin-top: 16px;
}

.whats-inside-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.whats-inside-line {
  width: fit-content;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.whats-inside-line h5 {
  font-size: 17px;
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);
}

.whats-inside-line img {
  height: 20px;
  width: 20px;
}

.white-button-offer-container {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 5px 16px 5px 16px;
  margin-top: 16px;
  transition: all 0.3s ease;
  text-align: center;
}

.white-button-offer-container:hover {
  background-color: var(--gray1);
}

.white-button-offer-container:active {
  background-color: var(--gray1);
  scale: 0.97;
}

.offer-main-button {
  text-decoration: none;
}

.white-button-offer-container h5 {
  color: var(--black);
  font-size: 20px;
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);

}

.bottom-dev-container {
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  border: 1px dashed #62606C;
  padding: 16px;
}

.bottom-design-top-lineris {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn-text-container-pricing {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: 100%;
  width: 100%;
  text-align: center;
}

.pricing-button-text {
  color: var(--white);
  font-size: 20px;
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);
  margin: 5px 16px;
}

#pricing-spec-button {
  border-radius: 12px;
  height: fit-content;
  color: var(--white);
  margin-top: 16px;
}

#pricing-spec-button:hover {
  border: 1px solid var(--gray25);
}

#pricing-spec-button:active {
  transform: scale(0.97) translateZ(0);
  opacity: 0.7;
}



#pricing-spec-button-big {
  border-radius: 12px;
  height: fit-content;
  color: var(--white);
  cursor: default;
}

#pricing-spec-button-big:hover {
  border: 1px solid var(--gray25);
}

.btn-text-container-pricing-big {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;
  z-index: 80;
  position: relative;
}

.bottom-dev-thingy-cont {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.for-mini-below-cont {
  width: 328px;
  ;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.mini-below-text-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 16px 0px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-below-dev {
  width: 80%;
  color: var(--gray3);
  font-size: 12px;
}


.price-container-spec-btm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
}


.price-container-spec-btm p {
  font-size: 24px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

.text-bottom-dev-cont p {
  font-size: 24px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

.text-bottom-dev-cont h5 {
  color: var(--gray1);
}

.contactis-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
}


.contactis-container p {
  font-size: 24px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}


.two-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}


.call-button-offer-container {
  height: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 5px 16px 5px 16px;
  transition: all 0.3s ease;
  text-align: center;
}

.call-button-offer-container:hover {
  background-color: var(--gray1);
}

.call-button-offer-container:active {
  background-color: var(--gray1);
  scale: 0.97;
}

.call-main-button {
  text-decoration: none;
  flex: 1;
}

.call-button-offer-container h5 {
  color: var(--black);
  font-size: 20px;
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);

}

#button-nav-container-chat {
  flex: 1;
}

#pricing-chat-button {
  border-radius: 12px;
  height: fit-content;
  color: var(--white);

}

#pricing-chat-button:hover {
  border: 1px solid var(--gray25);
}

#pricing-chat-button:active {
  transform: scale(0.97) translateZ(0);
  opacity: 0.7;
}


#pricing-chat-button-big {
  border-radius: 12px;
  height: fit-content;
  color: var(--white);
  cursor: default;
}

#pricing-chat-button-big:hover {
  border: 1px solid var(--gray25);
}

@media (max-width: 1064px) {

  #pricing-chat-button.active {
    transform: scale(0.97) translateZ(0);
    opacity: 0.7;
  }

  #pricing-spec-button.active {
    transform: scale(0.97) translateZ(0);
    opacity: 0.7;
  }

  .pricing-boxes-holder {
    flex-direction: column;
  }

  .pricing-holder {
    width: 100%;
    flex-direction: column;
    position: relative;
  }

  .main-prices {
    flex-wrap: wrap;
    width: fit-content;
  }

  .contact-near-pricing {
    width: 100%;
  }

  .pricing-section-container {
    padding: 0px 32px;
  }
}

@media (max-width: 850px) {

  #button-nav-container-pricing {
    display: auto;
  }

  #button-nav-container-chat {
    display: auto;
  }
}

@media (max-width: 727px) {
  .contact-near-pricing {
    width: 323px;
  }

  .pricing-boxes-holder {
    align-items: center;
  }
}

@media (max-width: 555px) {
  .pricing-section-container {
    padding: 0px 16px;
  }

  .pricing-boxes-holder,
  .main-prices {
    gap: 12px;
  }

}

@media (max-width: 450px) {

  .main-prices {
    width: 100%;
  }

  .first-pricing-container,
  .second-pricing-container,
  .contact-near-pricing,
  .for-mini-below-cont {
    width: 100%;
  }

  .pricing-boxes-holder {
    width: 100%;
  }

}

















/* FAQ */


#for-faq-special{
  text-align: start;
}


.faq-section-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 128px;
  justify-content: center;
  position: relative;
}

.accordions-container{
  width: 1000px;
  height: fit-content;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.question{
  width: 570px;
  border-radius: 16px;
  border: 1px solid var(--gray3);
  background: var(--gray5);
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.the-question-itself-container{
  width: fit-content;
  height: fit-content;
  padding: 12px 16px;
  /* background-color: rgba(255, 0, 0, 0.323); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 16px;
  background-color: var(--gray5);
  transition: all 0.2s ease;
}

.the-question-itself-container:hover{
  background-color: var(--gray3);
}

/* When the question is open, disable hover effect */
.question.active .the-question-itself-container {
  background-color: var(--gray4); /* Background color when opened */
}

.question.active .the-question-itself-container:hover {
  background-color: var(--gray3); /* Disable hover color change when open */
}


.the-question-itself-container h4{
font-family: var(--ff-bold);
font-weight: var(--font-bold);
}


.question-thingy{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.questin-thingy-container{
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
}


.the-answer-itself-container{
  width: 100%;
  height: fit-content;
  padding: 12px 16px 12px 16px;
  color: var(--gray1);
}

.faq-arrow{
  transition: all 0.3s ease;
}




@media (max-width: 1064px) {


.questin-thingy-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

  #for-faq-special{
    text-align: center;
  }

  .faq-section-container{
    padding: 0px 32px;
  }
  
  .accordions-container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .question{
    width: 100%;
  }

  .question-thingy{
    width: 664px;
  }

  
}

@media (max-width: 727px) {


  .faq-section-container{
    padding: 0px 16px;
  }

  .question-thingy{
    width: 100%;
  }


}