.container {
  display: flex;
  gap: 20px;
  /* Add some space between the rectangles */
}

/* Basic rectangle styles */
.rectangle {
  position: relative;
  height: 30px;
  /* Default height */
  width: fit-content;
  /* Width of the first rectangle */
  /* Light gray for the first rectangle */
  overflow: hidden;
  /* Hide blobs going outside */
  border-radius: 10px;
  border: 1px solid rgba(126, 128, 144, 0.70);
  background: rgba(22, 22, 24, 0.50);
  box-shadow: 0px 0px 5.9px 3px #000;
  backdrop-filter: blur(5px);
  cursor: pointer;
}


.blob {
  position: absolute;
  border-radius: 106px;
  background: rgba(184, 193, 204, 0.20);
  filter: blur(5px);
  z-index: -10;
}



body {
  background-image: url(chess\ 1.png);
  background-size: auto;
  /* Keeps the image at its original size */
  background-position: top left;
  /* Aligns the image to the top left */
  background-repeat: repeat;
  /* Repeats the image to fill the space */
  height: 100vh;
  /* Makes sure the body takes the full height of the viewport */
  margin: 0;
  /* Removes default margin */
  overflow: hidden;
  /* Hides any overflow content */
  margin: 30px;
}


.grain-overlay {
  position: absolute;
  top: 0;
  /* Position at the top of the rectangle */
  left: 0;
  /* Position at the left of the rectangle */
  width: 100%;
  height: 100%;
  background: url(grain-btn.png) no-repeat;
  background-size: auto;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  z-index: 5;
  /* Lower z-index than the text but above blobs */
}

.btn-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  /* Keep it relative for stacking context */
}

.btn-text-container {
  display: inline-flex;
  /* Allows the container to adjust to the text width */
  align-items: center;
  /* Centers the text vertically */
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: fit-content;
  height: 100%;
  /* background-color: rgba(0, 255, 255, 0.2); */
}

/* Blob and grain overlay styles */
.blob-container {
  position: absolute;
  top: 0;
  /* Position at the top of the rectangle */
  left: 0;
  /* Position at the left of the rectangle */
  height: 100%;
  /* Full height of the rectangle */
  width: 100%;
  /* Full width of the rectangle */
  z-index: 1;
  /* Lower z-index to stay behind the text */
}