html {
  background-color: black;
  color: white;
  font-family: 'Apple_Regular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Apple_Regular';
  src: url('SFPRODISPLAYREGULAR.OTF');
}

@font-face {
  font-family: 'Apple_Bold';
  src: url('SFPRODISPLAYBOLD.OTF');
}

@font-face {
  font-family: 'Apple_Italic';
  src: url('SFPRODISPLAYLIGHTITALIC.OTF');
}

@font-face {
  font-family: 'Apple_Thin_Italic';
  src: url('SFPRODISPLAYTHINITALIC.OTF');
}

@font-face {
  font-family: 'Apple_Medium';
  src: url('SFPRODISPLAYMEDIUM.OTF');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}





/* Scroll down indicator styles */
.scroll-down {
  padding-top:10px;
  position: flex;
  animation: bounce 2s infinite;
}

.arrowas {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

    margin-right: auto; /* Pushes the arrow to the left */
    margin-left: auto; /* Pushes the arrow to the right */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(10px);
  }
  60% {
      transform: translateY(5px);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000; /* adjust as needed */
  color: white;
  text-align: center;
  padding: 10px 0; /* adjust as needed for spacing */
  z-index: 999; /* ensure the footer appears above other content */
}


#alt{
  font-size: 1.3rem;
}

p#normal.Name{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

.box {
  background-color: black;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes openUp {
  0% {
      opacity: 0;
      transform: scaleY(0);
  }
  7% {
      transform: scaleY(0);
  }
  100% {
      opacity: 1;
      transform: scaleY(1);
  }
}

.box {
  animation: openUp 2s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 5px;
  border-right: none;
  border-left: none;
  height: 70%;
}

body.open-menu {
  overflow: hidden;
}

img#photo{
  margin-top:10px;
  margin-bottom: 10px;
}

/* Strong Text */
#Strong {
  font-family: 'Apple_Medium', Arial, Helvetica, sans-serif;
  background: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari and Chrome */
  -moz-background-clip: text; /* For Firefox */
  color: transparent;
  font-size: 8rem;
}

/* Medium Text */
#Medium {
  font-family: 'Apple_Bold', Arial, Helvetica, sans-serif;
}

/* Normal Text */
#Normal {
  font-family: 'Apple_Regular', Arial, Helvetica, sans-serif;
}

/* Light Text */
#Light {
  font-family: 'Apple_Italic', Arial, Helvetica, sans-serif;
}

/* Italic */
.italico {
  font-family: 'Apple_Italic', Arial, Helvetica, sans-serif;
}

/* Bold */
.boldo {
  font-family: 'Apple_Bold', Arial, Helvetica, sans-serif;
}

.weak{
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
}

/* Lighter Text */
a.lita {
  color: white;
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
  transition: all 0.5s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

a.lita:hover {
  font-size: 2.2rem;
  text-shadow: 0px 0px 9px rgb(255, 255, 255);
}

/* Medium Name */
p#Medium.Name {
  cursor: pointer;
  font-size: 4rem;
}

/* Normal Name */
p#Normal.Name {
  cursor:default;
  font-size: 5rem;
}

/* Light Name */
p#Light.Name {
  cursor:default;
  font-size: 3rem;
}

blockquote.notion-quote{
  margin-bottom:25px;
}

.decontainer {
  background-color: rgb(0, 0, 0);
  margin: 70px;
  max-width: 1380px;
  width: 90%;
  animation: openUp 2s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 5px;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Accordion */
.accordion {
  margin-top: -1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-right: none;
  border-left: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  height: 7vh;
  width: 100%;
  transition: background-color 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  margin-bottom: 30px;
}

#subbtitles {
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: black;
  border: none;
  position: relative;
  display: flex;
  justify-content: right;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  transition: background-color 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

#subbpanel {
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-image-slice: 1;
}

#subbtext {
  font-size: 1.5rem;
}

#subbarrow {
  margin-right: 0px;
}

.Name {
  margin: 0;
  flex: 1;
  text-align: center;
}

.arrow {
  margin-right: 70px;
}

.arrow img {
  width: 40px;
  height: auto;
  transition: transform 1s ease;
}

.active .arrow img {
  transform: rotate(180deg);
  transform-origin: center;
}

.panel {
  padding: 0 30px;
  background-color: black;
  color: white;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  max-height: 0;
  text-align: left;
}

button.kakalis {
  font-family: 'Apple_Regular', Arial, Helvetica, sans-serif;
  padding: 0;
  width: 550px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: white;
  color: #000;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: ease background-color 0.5s, transform 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: none;
}

button.kakalis:hover {
  border: none;
  transform: scale(1.03);
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.4);
}

button.kakalis:active {
  background-color: #000000;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-right: none;
  border-left: none;
  color: white;
  box-shadow: none;
}

.panel p {
  font-size: 2rem;
  margin-top: 45px;
  margin-bottom: 45px;
  cursor: default;
}


.accordion:hover {
  background-color: #111111;
}

@keyframes openUp {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  7% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1.7px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 99999;
}

@media (max-width: 1024px) {
  body {
    display: flex;
    align-items: flex-start; /* Align content to the top vertically */
    height: 100%; /* Ensure body takes up full viewport height */
    flex-direction: column; /* Stack elements vertically */
  }
}

@media (min-width: 1024px) {
  .decontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1023px) {


  .decontainer {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .decontainer {
    display: inline-block; /* Change from default block to inline-block */
  }
}

@media (max-width: 1023px) {
  .decontainer {
    display: block; /* Change back to block for vertical stacking */
  }
}

@media (max-width: 1024px) {

  #Strong {
    font-size: 5rem;
  }

  .footer {
    margin-top: 20px;
    position: relative;
    width: 100%;
    background-color: #000000; /* adjust as needed */
    color: white;
    text-align: center;
    padding: 10px 0; /* adjust as needed for spacing */
  }

  button.kakalis {
    width: 93%;
    height: 70px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

  *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  input, textarea, button, select, a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a:focus, a:visited, a:active{
    outline: none;
  }

  #reading-progress-bar {
    width: 3px;
  }

  .circle {
    display: none;
  }

  .panel p {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .panel {
    padding: 0 40px;
  }

  .Name {
    font-size: 3.5rem;
  }

  .accordion {
    height: 11vh;
  }

  .arrow {
    margin-right: 20px;
  }

  .arrow img {
    width: 20px;
  }

  #subbtext {
    font-size: 1.2rem;
  }

  #subbpanel {
    border-width: 1.5px;
  }

  #subbtitles {
    font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  a.lita:hover {
    font-size: 1.5rem;
  }

  .custom-video__control {
    font-size: 1em;
  }
}

@media (max-width: 480px) {

  .decontainer{
    margin-top:45px;
    border-width: 2px;
  }

  button.kakalis {
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
}

  body {
    flex-direction: column;
}
  .circle {
    display: none;
  }

  .panel p {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p#Medium.Name {
    font-size: 2rem;
  }

  p#Normal.Name {
    font-size: 3rem;
  }

  p#Light.Name {
    font-size: 1.6rem;
  }

  .panel {
    padding: 0 10px;
  }

  .Name {
    font-size: 2.5rem;
  }

  .accordion {
    height: 8vh;
    border-width: 1px;
  }

  .arrow {
    margin-right: 10px;
  }

  #subbtext {
    font-size: 1rem;
  }

  #subbpanel {
    border-width: 1.5px;
  }

  #subbtitles {
    font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  a.lita:hover {
    font-size: 1.5rem;
  }

  .animated-image {
    margin-top: 7rem;
  }
}
