html {
  background-color: black;
  color: white;
  font-family: 'Apple_Regular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Apple_Regular';
  src: url('SFPRODISPLAYREGULAR.OTF');
}

@font-face {
  font-family: 'Apple_Bold';
  src: url('SFPRODISPLAYBOLD.OTF');
}

@font-face {
  font-family: 'Apple_Italic';
  src: url('SFPRODISPLAYLIGHTITALIC.OTF');
}

@font-face {
  font-family: 'Apple_Thin_Italic';
  src: url('SFPRODISPLAYTHINITALIC.OTF');
}

@font-face {
  font-family: 'Apple_Medium';
  src: url('SFPRODISPLAYMEDIUM.OTF');
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.open-menu {
  overflow: hidden;
}

img#photo{
  margin-top:10px;
  margin-bottom: 10px;
}

/* Strong Text */
#Strong {
  font-family: 'Apple_Medium', Arial, Helvetica, sans-serif;
  background: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

/* Medium Text */
#Medium {
  font-family: 'Apple_Bold', Arial, Helvetica, sans-serif;
}

/* Normal Text */
#Normal {
  font-family: 'Apple_Regular', Arial, Helvetica, sans-serif;
}

/* Light Text */
#Light {
  font-family: 'Apple_Italic', Arial, Helvetica, sans-serif;
}

/* Italic */
.italico {
  font-family: 'Apple_Italic', Arial, Helvetica, sans-serif;
}

/* Bold */
.boldo {
  font-family: 'Apple_Bold', Arial, Helvetica, sans-serif;
}

.weak{
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
}

/* Lighter Text */
a.lita {
  color: white;
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
  transition: all 0.5s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

a.lita:hover {
  font-size: 2.2rem;
  text-shadow: 0px 0px 9px rgb(255, 255, 255);
}

/* Medium Name */
p#Medium.Name {
  cursor: pointer;
  font-size: 4rem;
}

/* Normal Name */
p#Normal.Name {
  cursor: pointer;
  font-size: 3.8rem;
}

/* Light Name */
p#Light.Name {
  cursor: pointer;
  font-size: 3.6rem;
}

blockquote.notion-quote{
  margin-bottom:25px;
}

.decontainer {
  margin: 70px;
  max-width: 1380px;
  width: 90%;
  animation: openUp 2s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Accordion */
.accordion {
  margin-top: -1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-right: none;
  border-left: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  height: 13vh;
  width: 100%;
  transition: background-color 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

#subbtitles {
  font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: black;
  border: none;
  position: relative;
  display: flex;
  justify-content: right;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  transition: background-color 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

#subbpanel {
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-image-slice: 1;
}

#subbtext {
  font-size: 1.5rem;
}

#subbarrow {
  margin-right: 0px;
}

.Name {
  font-size: 5rem;
  margin: 0;
  flex: 1;
  text-align: center;
}

.arrow {
  margin-right: 70px;
}

.arrow img {
  width: 40px;
  height: auto;
  transition: transform 1s ease;
}

.active .arrow img {
  transform: rotate(180deg);
  transform-origin: center;
}

.panel {
  padding: 0 70px;
  background-color: black;
  color: white;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  max-height: 0;
}

.panel p {
  font-size: 2rem;
  margin-top: 45px;
  margin-bottom: 45px;
  cursor: default;
}

#subbtitles:hover {
  background-color: #111111;
}

.accordion:hover {
  background-color: #111111;
}

.imaginer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.animated-image {
  max-width: 80%;
  max-height: 80vh;
  width: auto;
  height: auto;
  opacity: 0;
  transform: scaleY(0);
  animation: fadeIn 2s ease forwards;
}

.boxer {
  background-image: url('POP_Square_Transparent.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes openUp {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  7% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Burger Menu */
.burger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
  animation: openUp 2s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin: 6px auto;
  transition: all 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
}

.sliding-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: black;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  z-index: 999;
}

.menu-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.burger-menu.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.sliding-menu.open {
  height: 100vh;
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1.7px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 99999;
}

#photo {
  margin-top: 45px;
  margin-bottom: 45px;
}

#reading-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 6px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  z-index: 80;
  transition: height 1s cubic-bezier(0.5, 0.15, 0.000, 1.000);
  transform-origin: bottom;
}

.reading-progress {
  height: 100% !important;
}

/* Custom Video */
.custom-video {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.custom-video__container {
  position: relative;
  top: 0;
  height: auto;
}

.custom-video__video {
  border-radius: 0.2em;
  cursor: pointer;
}

.custom-video__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2em;
  font-weight: 400;
  width: 3em;
  height: 3em;
  white-space: nowrap;
  line-height: 0;
  transition: opacity 0.3s ease;
}

.custom-video__control.hidden {
  opacity: 0;
}

video::-webkit-media-controls {
  position: relative;
  z-index: 3;
}

/* Media Queries */
@media (max-width: 1024px) {

  *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  input, textarea, button, select, a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a:focus, a:visited, a:active{
    outline: none;
  }

  #reading-progress-bar {
    width: 3px;
  }

  .circle {
    display: none;
  }

  .panel p {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .panel {
    padding: 0 40px;
  }

  .Name {
    font-size: 3.5rem;
  }

  .accordion {
    height: 11vh;
  }

  .arrow {
    margin-right: 20px;
  }

  .arrow img {
    width: 20px;
  }

  #subbtext {
    font-size: 1.2rem;
  }

  #subbpanel {
    border-width: 1.5px;
  }

  #subbtitles {
    font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  a.lita:hover {
    font-size: 1.5rem;
  }

  .custom-video__control {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .circle {
    display: none;
  }

  .panel p {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p#Medium.Name {
    font-size: 2rem;
  }

  p#Normal.Name {
    font-size: 1.8rem;
  }

  p#Light.Name {
    font-size: 1.6rem;
  }

  .panel {
    padding: 0 10px;
  }

  .Name {
    font-size: 2.5rem;
  }

  .accordion {
    height: 80px;
    border-width: 1px;
  }

  .arrow {
    margin-right: 10px;
  }

  #subbtext {
    font-size: 1rem;
  }

  #subbpanel {
    border-width: 1.5px;
  }

  #subbtitles {
    font-family: 'Apple_Thin_Italic', Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  a.lita:hover {
    font-size: 1.5rem;
  }

  .animated-image {
    margin-top: 7rem;
  }
}

/* Notion Quote */
.notion-quote {
  background-color: #000000;
  border-left: 4px solid #ffffff;
  padding: 10px 20px;
  margin: 20px 0;
}

.notion-quote p {
  margin: 0;
}

.notion-quote cite {
  font-style: italic;
}

/* FadeIn Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
