html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  font-family: 'SF Pro Display Regular';
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  width: 100%;
  transition: all 0.3s ease;
}

img,
video {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

img::selection {
  background-color: rgba(0, 0, 0, 0);
}

::selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

::-moz-selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray2);
  border-radius: 99px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray1);
  transition: all 0.3s ease;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('https://augustas.co/fonts//Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('https://augustas.co/fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('https://augustas.co/fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root {
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --ff-regular: 'SF Pro Display Regular', arial;
  --ff-medium: 'SF Pro Display Medium', arial;
  --ff-bold: 'SF Pro Display Bold', arial;

  --white: hsla(0, 0%, 100%, 1);
  --gray1: hsla(235, 5%, 70%, 1);
  --gray2: hsla(235, 5%, 35%, 1);
  --gray5: hsla(235, 5%, 6%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --black-tr: hsla(0, 0%, 0%, 0.6);
}

.dark-mode {
  --white: hsla(0, 0%, 0%, 1);
  --gray1: hsla(240, 4%, 50%, 1);
  --gray5: hsla(240, 11%, 96%, 1);
  --black: hsla(0, 0%, 100%, 1);
  background-color: var(--black);
  color: var(--white);
  --black-tr: hsla(0, 0%, 100%, 0.6);
}

/* ------------------------------------- */

.nav-text {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  font-size: 18px;
  cursor: pointer;
  height: fit-content;
  transition: color 0.3s ease;
  color: var(--gray1);
  transition: all 0.1s ease;
}

.nav-text.active {
  color: var(--white);
}

.nav-text:hover {
  color: var(--white);
}

.dissapear-to-designer,
.dissapear-to-home {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: relative;
}

.tes-title {
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);
  color: var(--white);
  font-size: 18px;
  margin-bottom: 8px;
  transition: all 0.1s ease;
}

.text-side-testimonial {
  transition: all 0.1s ease;
}

.tes-text {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  color: var(--gray1);
  cursor: default;
  transition: all 0.1s ease;
}

.main-title {
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);
  font-size: 32px;
  margin-bottom: 8px;
  cursor: default;
  transition: all 0.1s ease;
}

.main-alt {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  color: var(--gray1);
  text-align: center;
  margin-bottom: 42px;
  cursor: default;
  transition: all 0.1s ease;
}

.figma-text {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  font-size: 14px;
  cursor: default;
  transition: all 0.1s ease;
}

.cta-text {
  font-family: var(--ff-medium);
  font-weight: var(--font-medium);
  font-size: 18px;
  color: var(--black);
  transition: all 0.1s ease;
}

.black-cta-text {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  color: var(--white);
  transition: all 0.1s ease;
}

.about-text {
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  font-size: 16px;
  line-height: 130%;
  color: var(--gray1);
  cursor: default;
  transition: all 0.1s ease;
}

.content-holder {
  width: 100lvw;
  height: fit-content;
  padding: 16px;
  overflow: hidden;
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.dissaper-to-designer {
  width: 100%;
  height: fit-content;
}

.dissaper-to-designer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: linear-gradient(to top, var(--black), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
}

.to-make-it-sticky-on-desktop {
  width: 388px;
  flex-shrink: 0;
  display: block;
}

.title-side-container {
  height: calc(100vh - 32px);
  width: 388px;
  flex-shrink: 0;
  overflow: hidden;
  position: fixed;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-fixation{
  position: fixed;
  width: 420px;
  z-index: 999;
  background-color: var(--black-tr);
  backdrop-filter: blur(20px);
  padding: 16px 16px 12px 16px;
  top:0;
  left: 0;
  transition: all 0.3s ease;
}

.nav-item-holder {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
}

.mode-switch-holder {
  cursor: pointer;
  display: flex;
  opacity: 69%;
  transition: all 0.3s ease;
}

.mode-switch-holder:hover {
  opacity: 100%;
}

.switch-svg {
  width: 25px;
  height: 25px;
  transition: 0.3s ease all;
}

.sun,
.moon {
  transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.sun {
  display: block;
  opacity: 1;
  transform: rotate(0deg);
}

.moon {
  display: none;
  opacity: 0;
  transform: rotate(-30deg);
  filter: brightness(100%);
}

.sun.hidden {
  opacity: 0;
  transform: rotate(180deg);
}

.moon.visible {
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  filter: brightness(20%);
}

.main-title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figma-box {
  display: flex;
  gap: 8px;
  padding: 4px 14px;
  background-color: var(--gray5);
  border-radius: 99px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
  margin-top: 76px;
}

.main-cta-button {
  background-color: var(--white);
  border-radius: 12px;
  padding: 5px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-cta-button:hover {
  background-color: var(--gray1);
}

.black-cta {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--gray2);
  transition: all 0.3s ease;
}

.black-cta:hover {
  border: 1px solid var(--gray1);
  background-color: var(--black);
}

.infinite-scroller-container {
  width: 388px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.infinite-scroller-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  background: linear-gradient(to bottom, var(--black), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 3;
  transition: all 0.1s ease;
}

.scroller-wrapper {
  position: absolute;
  width: 100%;
  animation: scroll 50s linear infinite;
  transition: all 0.1s ease;
}

.scroller-wrapper:active {
  animation-play-state: paused;
}

.testimonial-box {
  margin-bottom: 16px;
  background-color: var(--gray5);
  border-radius: 17px;
  width: 100%;
  transition: all 0.1s ease;
}

.testimonial-box-holder {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: fit-content;
  width: fit-content;
  transition: all 0.1s ease;
}

.testimonial-pfp {
  height: 68px;
  width: 68px;
  border-radius: 12px;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.web-side-container {
  width: 100%;
  height: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-website-container {
  height: fit-content;
  overflow: hidden;
  width: 100%;
  border-radius: 17px;
  display: flex;
}

.web-img {
  width: 100%;
  height: auto;
}

.little-website-boxes-container {
  height: fit-content;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.web-boxes-container {
  display: flex;
  height: fit-content;
  gap: 16px;
}

.web-box {
  background-color: var(--gray5);
  flex: 1;
  border-radius: 17px;
  padding-top: 50%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.tiny-web {
  position: absolute;
  width: calc(100% - 84px);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border-radius: 12px;
}

.augustas-image {
  width: 100%;
  height: auto;
  border-radius: 17px;
  margin-bottom: 16px;
  margin-top: 42px;
}

.below-text-about-container {
  background-color: var(--gray5);
  width: 100%;
  height: fit-content;
  padding: 16px;
  border-radius: 17px;
}

.footer-container {
  height: fit-content;
  width: 100%;
  background-color: var(--gray5);
  border-radius: 17px;
  padding: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal-side {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts-holder {
  display: flex;
  gap: 4px;
  width: fit-content;
}

.contact-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.contact-icon:hover {
  filter: brightness(200%);
}

@media (max-width: 1239px) {
  .tiny-web {
    width: calc(100% - 64px);
  }
}

@media (max-width: 1000px) {
  .web-boxes-container {
    flex-direction: column;
  }

  .web-box {
    flex: 1;
    border-radius: 17px;
    height: fit-content;
    padding: 32px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tiny-web {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: none;
    margin: 0;
    border-radius: 12px;
  }
}

@media (max-width: 824px) {
  .content-holder {
    flex-direction: column;
    gap: 0;
  }

  .title-side-container {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    height: fit-content;
  }

  .web-boxes-container {
    flex-direction: row;
  }

  .web-box {
    background-color: var(--gray5);
    flex: 1;
    border-radius: 17px;
    padding-top: 50%;
    height: fit-content;
    position: relative;
    overflow: hidden;
  }

  .tiny-web {
    position: absolute;
    width: calc(100% - 64px);
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 12px;
  }

  .infinite-scroller-container {
    width: 100%;
    height: 264px;
  }

  .scroller-wrapper {
    animation: scroll 70s linear infinite;
  }
}

@media (max-width: 600px) {

  .web-boxes-container {
    flex-direction: column;
  }

  .web-box {
    padding-top: 0;
    aspect-ratio: 1 / 1;
  }

  .tiny-web {
    width: calc(100% - 64px);
  }
}

@media (max-width: 400px) {
  .dissapear-400 {
    display: none;
  }
}

@media (max-width: 360px) {
  .tiny-web {
    width: calc(100% - 36px);
  }
}