body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  margin-top: 200px;
}

.section-container {
  margin-top: 5vh;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 1000px;
  height: fit-content;
}

@media (max-width: 1064px) {
  section {
    width: 100%;
    margin: 0px 32px;
  }
}

@media (max-width: 555px) {
  section {
    margin: 0px 16px;
  }
}

/* --------------------------------------------------------------------- */