body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  margin-top: 200px;
}

.section-container {
  margin-top: 5vh;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 1000px;
  height: fit-content;
}

@media (max-width: 1064px) {
  section {
    width: 100%;
    margin: 0px 32px;
  }
}

@media (max-width: 555px) {
  section {
    margin: 0px 16px;
  }
}

/* --------------------------------------------------------------------- */


.blog-testimonial-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  flex-direction: column;
  position: relative;
}

.blog-testimonial-container:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  left: -15px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 20;
}

.blog-testimonial-container:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  right: -15px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 20;
}

@media (max-width: 1350px) {

  .blog-testimonial-container:before,
  .blog-testimonial-container:after {
    display: none;
  }
}

.blog-carousel-container {
  position: relative;
  width: 1000px;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.blog-carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
  gap: 16px;
}

.blog-slide {
  flex: 0 0 calc(33% - 8px);
  height: 400px;
  display: flex;
  background-color: var(--gray4);
  font-size: 24px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 16.5px;
  border: 1px solid var(--gray3);
  position: relative;
  overflow: hidden;
  background-clip: padding-box;
}

.blog-slide:not(.active) {
  opacity: 0.6;
  transform: scale(0.97);
}

.blog-slide:not(.active) .blog-slide-activator-container {
  display: none;
}

.blog-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

.blog-arrow:hover {
  background-color: var(--white);
}

.blog-arrow:active {
  background-color: var(--white);
  transform: scale(0.95);
}

.blog-arrow.left,
.blog-arrow.right {
  border: solid 1px var(--white);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-arrow-left-arrow-svg,
.blog-arrow-right-arrow-svg {
  width: 7px;
  height: auto;
  transition: all 0.3s ease;
}

.blog-arrow:hover .blog-arrow-left-arrow-svg,
.blog-arrow:hover .blog-arrow-right-arrow-svg {
  filter: brightness(0);
}

.blog-dots {
  bottom: 10px;
  display: flex;
  gap: 5px;
}

.blog-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-dot:hover {
  background-color: var(--gray25);
}

.blog-dot.active {
  background-color: var(--white);
}

.blog-bottom-navigation-container-testimonials {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-top: 16px;
}

.blog-arrows-testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.blog-slide-activator-container {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 20;
  cursor: pointer;
}

.blog-background-video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.blog-testimonial-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-play-svg {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#blog-svg1 {
  opacity: 1;
}

.blog-play-button-container:hover #blog-svg1,
.blog-play-button-container:focus-within #blog-svg1 {
  opacity: 0;
}

.blog-play-button-container:hover #blog-svg2,
.blog-play-button-container:focus-within #blog-svg2 {
  opacity: 1;
}

.blog-play-button-container:active #blog-svg1,
.blog-play-button-container:active #blog-svg2 {
  opacity: 1;
}

.blog-on-top-of-video-slider {
  width: 100%;
  height: 33%;
  position: absolute;
  z-index: 2;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  border: 1px solid rgba(37, 37, 40, 0.10);
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(10px);
  padding: 0px 16px 0px 16px;
  transition: background 0.3s ease, height 0.3s ease;
}

.blog-on-top-of-video-slider.hovered {
  background: var(--gray5);
  height: 36%;
}

.blog-name-acc-container {
  height: fit-content;
}

.blog-name-acc-container h5 {
  color: var(--gray1);
}

.blog-play-button-container {
  width: 50px;
  height: 50px;
}

.blog-video-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 80000;
  display: none;
  background: hsla(0, 0%, 0%, 0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
}

.blog-close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 32px;
  top: 32px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 81000;
  background: hsla(0, 0%, 0%, 0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  border: 1px solid var(--gray3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-close-button img {
  width: 25px;
}

.blog-close-button:hover {
  background: hsla(235, 5%, 6%, 0.7);
}

.image-blog-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: brightness(100%);
}

.blog-slide:not(.active):hover .image-blog-container {
  pointer-events: none;
}

.image-blog-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-blog-container:hover+.text-bottom-blog-container .text-blog {
  filter: brightness(60%);
}

.image-blog-container:hover {
  filter: brightness(60%);
}

.image-blog-container:hover+.text-bottom-blog-container .cta-arrow-blog {
  gap: 12px;
}

.image-blog-container:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 70%;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 1;
}

.text-blog {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--gray1);
  transition: all 0.3s ease;
}

.text-blog p {
  font-size: 24px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
  color: var(--white);
}

.text-bottom-blog-container {
  z-index: 2;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 24px;
  pointer-events: none;
  gap: 12px;
}

.cta-arrow-blog {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease;
}

.cta-arrow-blog img {
  height: 12px;
}

@media (max-width: 1064px) {
  .blog-slide-activator-container {
    width: 100%;
  }

  .blog-carousel-container {
    position: relative;
    width: fit-content;
  }

  .blog-bottom-navigation-container-testimonials {
    width: 662px;
  }

  .blog-carousel {
    width: 662px;
  }

  .blog-slide {
    flex: 0 0 calc(50% - 8px);
  }
}

@media (max-width: 700px) {
  .blog-slide {
    flex: 0 0 100%;
  }

  .blog-carousel-container {
    position: relative;
    width: 350px;
    padding: 0 24px 0 24px;
  }

  .blog-bottom-navigation-container-testimonials {
    position: relative;
    width: 350px;
    padding: 0 24px 0 24px;
  }

  .blog-slide {
    height: 380px;
  }

  .blog-close-button {
    right: 16px;
    top: 16px;
  }
}

@media (max-width: 344px) {
  .blog-carousel-container {
    padding: 0 16px 0 16px;
    width: 100vw;
  }

  .blog-bottom-navigation-container-testimonials {
    padding: 0 16px 0 16px;
    width: 100vw;
  }
}