html, body{
display: flex;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
}

.circle {
    --circle-size: 12px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    background-color: var(--white);
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 8000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding: 0;
    transition: all 0.6s ease;
}
  
.circle-text {
    font-size: 12px;
    line-height: 0px;
    padding: 4px 2px;
    opacity: 0;
    scale: 0;
}

.video-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 80000;
    display: none;
    background: hsla(0, 0%, 0%, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
}

iframe#ytplayer {
    width: 100%;
    height: 100%;
    border: none;
}

.close-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 32px;
    top: 32px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 81000;
    background: hsla(0, 0%, 0%, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
    border: 1px solid var(--gray3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button img {
    width: 25px;
}

.close-button:hover {
    background: hsla(235, 5%, 6%, 0.7);
}

.back-home-buttom-container {
    width: 100%;
    height: fit-content;
    position: fixed;
    max-width: 1000px;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
}

.main-content-container {
    display: flex;
    align-items: start;
    margin-top: 128px;
    width: 1000px;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 82px;
}

.back-home-button-holder {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease; 
    color: white;
    user-select: none;
    border-radius: 12px;
    cursor: pointer;
    background: hsla(0, 0%, 0%, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
    border: 1px solid var(--gray3);
    padding: 3px 12px;
}

.back-home-button-holder h4 {
    transition: 0.3s ease-out;
    font-size: 20px;
}

.back-home-button-holder:hover {
    gap: 16px;
    border: 1px solid var(--gray2);
}

.back-home-button-holder img {
    height: 14px;
    width: auto;
}

.left-content-container {
    max-width: 400px;
    position: sticky;
    height: fit-content;
    top:128px;
    opacity: 0;
    transform: translateY(100px);
}

.right-content-container {
    width: 558px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    opacity: 0;
    transform: translateY(100px);
}

.desktop-or-mobile-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

#desktop-button, #mobile-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--gray2);
    border-radius: 8px 8px 0px 0px;
    transition: border-bottom 0.3s ease;
}

#desktop-button.active, #mobile-button.active {
    border-bottom: 1px solid var(--white);
}

#desktop-icon, #mobile-icon {
    width: 27px;
    height: 27px;
    filter: brightness(35%);
    transition: all 0.3s ease;
}

#desktop-button.active #desktop-icon, 
#mobile-button.active #mobile-icon {
    filter: brightness(100%);
}

.website-view-container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 24px;
    background-color: var(--gray3);
}

.website-desktop,
.website-mobile {
    width: 100%;
    height: auto;
}

.buttons-below-container {
    width: 100%;
    height: fit-content;
    margin-bottom: 64px;
    display: flex;
    gap: 12px;
}

.video-testimonial-container {
    width: 100%;
    height: fit-content;
}

.video-itself-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    overflow: hidden;
    border-radius: 17px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-bottom: 8px;
    position: relative;
    border: 1px solid var(--gray3);
}

.video-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;
    transition: 0.3s all ease;
}

.play-button-cont img {
    transition: 0.3s all ease;
}

.play-button-cont {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid var(--gray2);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    z-index: 90;
    transition: 0.3s all ease;
    margin-bottom: 16px;
    margin-right: 16px;
}

.text-below-vid {
    color: var(--gray2);
}

.title-holder {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
}

.title-holder h4 {
    color: var(--gray1);
}

.visit-button h4,
.template-button h4 {
    font-size: 20px;
    font-size: 20px;
    font-family: var(--ff-medium);
    font-weight: var(--font-medium);
}

.visit-button {
    width: fit-content;
    height: 36px;
    padding: 5px 20px;
    background-color: black;
    display: flex;
    border-radius: 12px;
    border: 1px solid var(--gray2);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.visit-button:hover {
    border: 1px solid var(--gray1);
}

.template-button {
    width: fit-content;
    height: 36px;
    padding: 5px 20px;
    background-color: white;
    display: flex;
    border-radius: 12px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

.template-button:hover {
    background-color: var(--gray1);
}

footer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    color: var(--gray2);
}

#clock{
    color: var(--gray1);
}

@media (max-width: 1064px) {
    .left-content-container {
        position: relative;
        top: 0;
        width: 100%;
    }

    .main-content-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 32px;
        gap: 42px;
    }

    .back-home-button-holder {
        margin-left: 32px;
    }

    .right-content-container {
        width: 600px;
    }

    .left-content-container {
        max-width: 450px;
    }
}

@media (max-width: 664px) {
    .right-content-container {
        width: 100%;
    }
}

@media (max-width: 555px) {
    .back-home-button-holder img {
        height: 12px;
        width: auto;
    }

    .back-home-button-holder {
        margin-left: 16px;
    }

    .buttons-below-container {
        margin-bottom: 42px;
    }

    .main-content-container {
        gap: 32px;
        margin-top: 100px;
        padding: 0px 16px;
    }
}