* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
}





.slider-container {
  width: 100vw;
  margin-top: 192px;
  height: fit-content;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos,
.logos-dbb,
.logos-opp {
  margin-top: 16px;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  z-index: 90;
}

.logos:before,
.logos:after,
.logos-dbb:before,
.logos-dbb:after,
.logos-opp:before,
.logos-opp:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-dbb:before,
.logos-opp:before {
  left: -15px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.logos:after,
.logos-dbb:after,
.logos-opp:after {
  right: -15px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.logos-slide,
.logos-slide-dbb {
  display: inline-flex;
  align-items: center;
  animation: 35s slide infinite linear;
}

.logos-slide img,
.logos-slide-dbb img,
.logos-slide-opp img {
  height: 340px;
  width: auto;
  border-radius: 20px;
  margin-right: 16px;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  scale: 0.99;
}

@keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}


.logos-slide-opp {
  display: inline-flex;
  align-items: center;
  animation: 35s slide-opp infinite linear;
}



.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black-fade-out-thing-bottom {
  width: 100vw;
  height: 150px;
  bottom: -150px;
  z-index: 90;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
}

.black-bottom-content-container {
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}







@media (max-width: 1064px) {

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    scale: 1;
  }

  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: auto;
    width: 50vw;
    border-radius: 16px;
    margin-right: 12px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 60px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 12px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-fade-out-thing-bottom {
    display: none;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 32px;
  }
}


@media (max-width: 555px) {

  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: 49vw;
    width: auto;
    border-radius: 12px;
    margin-right: 8px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 50px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 8px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 150px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-bottom: 0;
  }
}































.slider-container {
  width: 100vw;
  margin-top: 192px;
  height: fit-content;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos,
.logos-dbb,
.logos-opp {
  margin-top: 16px;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  z-index: 90;
}

.logos:before,
.logos:after,
.logos-dbb:before,
.logos-dbb:after,
.logos-opp:before,
.logos-opp:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-dbb:before,
.logos-opp:before {
  left: -15px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.logos:after,
.logos-dbb:after,
.logos-opp:after {
  right: -15px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.logos-slide,
.logos-slide-dbb {
  display: inline-flex;
  align-items: center;
  animation: 35s slide infinite linear;
}

.logos-slide img,
.logos-slide-dbb img,
.logos-slide-opp img {
  height: 340px;
  width: auto;
  border-radius: 20px;
  margin-right: 16px;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  scale: 0.99;
}

@keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}


.logos-slide-opp {
  display: inline-flex;
  align-items: center;
  animation: 35s slide-opp infinite linear;
}



.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black-fade-out-thing-bottom {
  width: 100vw;
  height: 150px;
  bottom: -150px;
  z-index: 90;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
}

.black-bottom-content-container {
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}







@media (max-width: 1064px) {

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    scale: 1;
  }

  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: auto;
    width: 50vw;
    border-radius: 16px;
    margin-right: 12px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 60px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 12px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-fade-out-thing-bottom {
    display: none;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 32px;
  }
}


@media (max-width: 555px) {

  .logos-slide img,
  .logos-slide-dbb img,
  .logos-slide-opp img {
    height: 49vw;
    width: auto;
    border-radius: 12px;
    margin-right: 8px;
  }

  .logos:before,
  .logos:after,
  .logos-dbb:before,
  .logos-dbb:after,
  .logos-opp:before,
  .logos-opp:after {
    width: 50px;
  }

  .logos,
  .logos-dbb,
  .logos-opp {
    margin-top: 8px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 150px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-bottom: 0;
  }
}
































.slider-container {
  width: 100vw;
  margin-top: 192px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.logos,
.logos-opp,
.logos-dbb {
  overflow: hidden;
  padding: 8px 0;
  white-space: nowrap;
  position: relative;
  z-index: 90;
  white-space: nowrap;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  /* Center contents vertically */
}

.logos-dbb {
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos:before,
.logos:after,
.logos-opp:before,
.logos-opp:after,
.logos-dbb:before,
.logos-dbb:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-opp:before,
.logos-dbb:before {
  left: -10px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.logos:after,
.logos-opp:after,
.logos-dbb:after {
  right: -10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.logos-slide,
.logos-slide-dbb,
.logos-slide-opp {
  display: inline-block;
  animation: 35s slide infinite linear;
  pointer-events: none;
}


.logos-slide-opp {
  display: inline-block;
  animation: 35s slide-opp infinite linear;
  pointer-events: none;
}



.logos-slide img,
.logos-slide-opp img,
.logos-slide-dbb img {
  height: 340px;
  width: auto;
  margin: 0 8px;
  border-radius: 20px;
  pointer-events: auto;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  scale: 0.99;
}






.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black-fade-out-thing-bottom {
  width: 100vw;
  height: 150px;
  bottom: -150px;
  z-index: 90;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
}

.black-bottom-content-container {
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}










@media (max-width: 1064px) {
  .black-fade-out-thing-bottom {
    display: none;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: auto;
    width: 50vw;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    scale: 1;
  }

  .logos-slide img:active,
  .logos-slide-opp img:active,
  .logos-slide-dbb img:active {
    opacity: 0.9;
    transform: scale(0.99);
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 50px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 50px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 6px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 6px;
    border-radius: 16px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 32px;
  }
}

@media (max-width: 555px) {

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: 49vw !important;
    width: auto;
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 36px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 36px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 4px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 4px;
    border-radius: 12px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 150px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-bottom: 0;
  }
}