body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.copy-container {
  display: inline-block;
  position: relative;
  padding: 10px;
  border: 2px solid #007BFF;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #60CD1A;
  border-width: 1px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 20px;
  width: 200px;
}

.copy-container:hover {
  background-color: #000000;
  color: #ffffff;
}


.copy-tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000000;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  /* Initially hidden */
  visibility: hidden;
  /* Hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  /* Transition for fade effect */
}

.tooltip-visible {
  opacity: 1;
  /* Fully visible */
  visibility: visible;
  /* Visible */
}

.container {
  background-color: #131313;
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.seb-image {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.top-container {
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
}