html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: 'SF Pro Display Regular';
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

img,
video {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

/* select color */

::selection {
  background-color: hsla(240, 2%, 90%, 0.2);
}

::-moz-selection {
  background-color: hsla(240, 2%, 90%, 0.2);
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('fonts//Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root{
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;


 --ff-regular: 'SF Pro Display Regular', arial;
 --ff-medium: 'SF Pro Display Medium', arial;
 --ff-bold: 'SF Pro Display Bold', arial;
 --gray1: hsla(235, 5%, 70%, 1);
}

h1{
  font-size: 64px;
  letter-spacing: -0.64px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

h4{
  font-size: 24px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}



/* --------------------------------------------------------------------------------------------------- */


/* Background top godrays */

.spacer {
  width: 100%;
  height: 300vh;
  background-color: aquamarine;
}

.god-ray-bck {
  width: 100%;
  height: 200vh;
  border: 0;
  opacity: 0.7; /* <--- here*/
  z-index: 1;
}

.god-ray-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grain-overlay {
  background: url(images/Grain-big.webp);
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
}


.black-fade-thing {
  height: 30vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  z-index: 3;
}


@media (max-width: 1064px) {
  .god-ray-bck {
    height: 140vh;
  }
}


@media (max-width: 480px) {

  .god-ray-bck {
    height: 100vh;
  }
}






/* Hero section */

.hero-section-container{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  margin-top: 192px;
  z-index: 4;
}

.title-container{
  margin-bottom: 16px;
}

.title-container h1{
text-align: center;
background: linear-gradient(180deg, #FFF 74.67%, #AFAFB6 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.alt-container h4{
  text-align: center;
  color: var(--gray1);
}