html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: 'SF Pro Display Regular';
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  width: 100%;
}

img,
video {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

/* select color */

::selection {
  background-color: hsla(240, 2%, 90%, 0.2);
}

::-moz-selection {
  background-color: hsla(240, 2%, 90%, 0.2);
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('fonts//Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root {
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;


  --ff-regular: 'SF Pro Display Regular', arial;
  --ff-medium: 'SF Pro Display Medium', arial;
  --ff-bold: 'SF Pro Display Bold', arial;
  --gray1: hsla(235, 5%, 70%, 1);
}

h1 {
  font-size: 64px;
  letter-spacing: -0.64px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

h4 {
  font-size: 24px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

h5 {
  font-size: 16px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

@media (max-width: 1064px) {

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
  }

}

@media (max-width: 555px) {
  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    font-family: var(--ff-regular);
    font-weight: var(--font-regular);
    line-height: 130%;
  }
}



/* --------------------------------------------------------------------------------------------------- */



.spacer {
  width: 100%;
  height: 300vh;
  background-color: rgb(0, 0, 0);
}











/* Background top godrays */

.bck-container {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.god-ray-bck {
  width: 100%;
  height: 200vh;
  border: 0;
  opacity: 0.7;
  z-index: 1;
}

.god-ray-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grain-overlay {
  background: url(images/Grain-big.webp);
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}


.black-fade-thing {
  height: 30vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  z-index: 3;
}


@media (max-width: 1064px) {
  .god-ray-bck {
    height: 140vh;
    opacity: 1;
  }
}


@media (max-width: 555px) {

  .god-ray-bck {
    height: 100vh;
    opacity: 1;
  }
}


















/* Hero section */

.hero-section-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  margin-top: 192px;
  z-index: 40;
}

.hero-content-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}

.title-container {
  margin-bottom: 16px;
}

.title-container h1 {
  text-align: center;
  background: linear-gradient(180deg, #FFF 74.67%, #AFAFB6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alt-container h4 {
  text-align: center;
  color: var(--gray1);
}

@media (max-width: 1064px) {
  .hero-content-container {
    margin-right: 24px;
    margin-left: 24px;
  }
}


@media (max-width: 555px) {

  .hero-content-container {
    margin-right: 16px;
    margin-left: 16px;
  }
}



















/* Button */

.rectangle {
  position: relative;
  height: 44px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #54555D;
  background: #09090C;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.rectangle h4 {
  font-family: var(--ff-medium);
}

.under-rectangle-layer {
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid #252528;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 8px 3px rgba(175, 175, 182, 0.20) inset;
  backdrop-filter: blur(5px);
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
  margin-top: 42px;
}

.under-rectangle-layer:hover .rectangle {
  border: 1px solid hsla(233, 5%, 45%, 1);
}

.under-rectangle-layer:hover {
  box-shadow: 0px 0px 8px 0px rgba(175, 175, 182, 0.20) inset;
  border: 1px solid hsla(240, 4%, 13%, 1);
}

.under-rectangle-layer.active .rectangle {
  transform: scale(0.97) translateZ(0);
  opacity: 0.7;
}

.under-rectangle-layer.active {
  transform: scale(0.95) translateZ(0);
}

.blob {
  position: absolute;
  border-radius: 100px;
  background: rgba(184, 193, 204, 0.20);
  filter: blur(10px);
  z-index: -10;
}

.grain-overlay-button {
  width: 100%;
  height: 100%;
  background: url(images/Grain-big.webp) repeat;
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  opacity: 0.8;
}

.btn-text-container {
  display: inline-flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: fit-content;
  height: 100%;
}

.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1064px) {

  .rectangle {
    height: 38px;
  }

  .under-rectangle-layer {
    padding: 4px;
  }
}

@media (max-width: 555px) {
  .rectangle {
    height: 34px;
  }

  .rectangle h4 {
    font-size: 18px;
  }
}





/* White button */


.white-btn-container {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  width: fit-content;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 1px;
  border-radius: 6px;
  height: 23px;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}


.white-btn-container h5 {
  font-family: var(--ff-medium);
}

.white-btn-container:hover {
  background-color: hsla(235, 5%, 85%, 1);
}

.white-btn-container:active {
  background-color: hsla(235, 5%, 70%, 1);
  transform: scale(0.97) translateZ(0);
  opacity: 0.9;
}

@media (max-width: 555px) {
  .white-btn-container {
    padding-top: 2px;
  }
}

















/* Following Fly */

.circle {
  --circle-size: 12px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 20;
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (max-width: 1064px) {

  .circle {
    display: none;
  }
}



























/* Image slider */

.slider-container {
  width: 100%;
  margin-top: 192px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.logos,
.logos-opp,
.logos-dbb {
  overflow: hidden;
  padding: 8px 0;
  white-space: nowrap;
  position: relative;
  z-index: 90;
}

.logos-dbb {
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos:before,
.logos:after,
.logos-opp:before,
.logos-opp:after,
.logos-dbb:before,
.logos-dbb:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-opp:before,
.logos-dbb:before {
  left: -10px;
  width: 100px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  /* pointer-events: none; */
}

.logos:after,
.logos-opp:after,
.logos-dbb:after {
  right: -10px;
  width: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  /* pointer-events: none; */
}

.logos-slide,
.logos-slide-dbb {
  display: inline-block;
  animation: 35s slide infinite linear;
  pointer-events: none;
}

.logos-slide-opp {
  display: inline-block;
  animation: 35s slide-opp infinite linear;
  pointer-events: none;
}

.logos-slide img,
.logos-slide-opp img,
.logos-slide-dbb img {
  height: 340px;
  width: 530px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 20px;
  pointer-events: auto;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  scale: 0.99;
}


.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
}

.black-bottom-content-container {
  height: 100%;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

@media (max-width: 1064px) {

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: auto;
    width: 50vw;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    scale: 1;
  }

  .logos-slide img:active,
  .logos-slide-opp img:active,
  .logos-slide-dbb img:active {
    opacity: 0.9;
    transform: scale(0.99);
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 50px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 50px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 6px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 6px;
    border-radius: 16px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin-right: 32px;
    margin-left: 32px;
  }
}


@media (max-width: 555px) {

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: 49vw !important;
    width: auto;
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 36px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 36px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 4px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 4px;
    border-radius: 12px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 100px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin-right: 16px;
    margin-left: 16px;
  }
}