html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: 'SF Pro Display Regular';
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  width: 100%;
}

img,
video {
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

/* select color */

::selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

::-moz-selection {
  background-color: hsla(240, 2%, 90%, 0.1);
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('fonts//Sf\ Pro\ Display\ REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('fonts/Sf\ Pro\ Display\ MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('fonts/Sf\ Pro\ Display\ BOLD.OTF') format('truetype');
}

:root {
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;


  --ff-regular: 'SF Pro Display Regular', arial;
  --ff-medium: 'SF Pro Display Medium', arial;
  --ff-bold: 'SF Pro Display Bold', arial;


  --white: hsla(0, 0%, 100%, 1);
  --gray1: hsla(235, 5%, 70%, 1);
  --gray2: hsla(235, 5%, 35%, 1);
  --gray25: hsla(235, 5%, 45%, 1);
  --gray2: hsla(235, 5%, 35%, 1);
  --gray3: hsla(235, 5%, 15%, 1);
  --gray4: hsla(235, 5%, 9%, 1);
  --gray5: hsla(235, 5%, 6%, 1);
  --black: hsla(0, 0%, 0%, 1);
}

h1 {
  font-size: 64px;
  letter-spacing: -0.64px;
  font-family: var(--ff-bold);
  font-weight: var(--font-bold);
}

h4 {
  font-size: 24px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

h5 {
  font-size: 16px;
  font-family: var(--ff-regular);
  font-weight: var(--font-regular);
  line-height: 130%;
}

@media (max-width: 1064px) {

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
  }

}

@media (max-width: 555px) {
  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    font-family: var(--ff-regular);
    font-weight: var(--font-regular);
    line-height: 130%;
  }
}



/* --------------------------------------------------------------------------------------------------- */



.spacer {
  width: 100%;
  height: 300vh;
  background-color: var(--black);
}




/* Navigation bar */

nav {
  width: 1000px;
  height: 53px;
  position: fixed;
  z-index: 999;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 999px;
  border: 1px solid #252528;
  background: rgba(0, 0, 0, 0.60);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 7px 0 24px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}

.inside-container-nav {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-button {
  border-radius: 999px;
  height: 39px;
  color: var(--white);
}

#nav-button:hover {
  border: 1px solid var(--gray25);
}

#nav-button:active {
  transform: scale(0.97) translateZ(0);
  opacity: 0.7;
}

.links-container {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

.links-container a {
  font-size: 20px;
  font-family: var(--ff-regular);
  color: var(--gray1);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.links-container a:hover {
  color: var(--white);
  transform: scale(1.05);
}

.links-container a:active {
  transform: scale(1) translateZ(0);
  opacity: 0.7;
}

.logo-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  touch-action: manipulation;
}

.logo-img-nav {
  padding: 5px;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo-container:hover .logo-img-nav {
  transform: scale(1.05);
}

.logo-container:active .logo-img-nav {
  transform: scale(1);
  opacity: 0.7;
}

.burger-menu-container,
.mobile-links-container,
.background-blur-thing-nav-mobile,
.overlay-close-button,
#button-nav-container-mobile {
  display: none;
}

@media (max-width: 1064px) {
  nav {
    width: calc(100% - 64px);
    margin: 0 32px;
    left: 0;
    transform: none;
  }
}

@media (max-width: 850px) {
  .links-container {
    display: none;
  }

  #button-nav-container {
    display: none;
  }

  #button-nav-container-mobile {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: 11px 0 16px;
  }

  #nav-button.active {
    transform: scale(0.97) translateZ(0);
    opacity: 0.7;
  }

  nav {
    padding: 0;
    height: 48px;
    border-radius: 24px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .logo-container {
    margin-left: 14px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .burger-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
    margin-right: 8px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #burger-line {
    height: 2px;
    width: 30px;
    border-radius: 99px;
    background-color: var(--white);
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transform-origin: center;
  }

  .top-burger-line {
    position: relative;
  }

  .bottom-burger-line {
    position: relative;
  }

  .mobile-links-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    top: 60px;
  }

  .inside-container-nav {
    align-self: flex-start;
    margin-top: 8px;
  }

  .divider-mobile-menu {
    width: 100%;
    height: 1px;
    background-color: var(--gray3);
  }

  .link-elements-mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin: 12px 0;
  }

  .link-elements-mobile-nav a {
    color: white;
    text-decoration: none;
    font-family: var(--ff-medium);
    font-size: 24px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .background-blur-thing-nav-mobile {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 999;
    top: -100vh;
  }
}

@media (max-width: 555px) {
  nav {
    width: calc(100% - 32px);
    margin: 0 16px;
    left: 0;
    transform: none;
  }

  .logo-img-nav {
    height: 30px;
  }

  .inside-container-nav {
    margin-top: 9px;
  }
}
























/* Background top godrays */

.bck-container {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.god-ray-bck {
  width: 100%;
  height: 200vh;
  border: 0;
  opacity: 0.7;
  z-index: 1;
}

.god-ray-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grain-overlay {
  background: url(images/Grain-big.webp);
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}

.black-fade-thing {
  height: 30vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 3;
}

@media (max-width: 1064px) {
  .god-ray-bck {
    height: 140vh;
    opacity: 1;
  }
}

@media (max-width: 555px) {
  .god-ray-bck {
    height: 100vh;
    opacity: 1;
  }
}
















/* Hero section */

#load-in-btn-hero {
  opacity: 0;
  margin-top: 42px;
}

.hero-section-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  position: relative;
  margin-top: 192px;
}

.hero-content-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}

.title-container {
  margin-bottom: 16px;
}

.title-container h1 {
  text-align: center;
  display: inline-block;
  visibility: hidden;
}

.title-container h1 span {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, filter 0.3s ease-out, transform 0.3s ease-out;
}

.alt-container h4 {
  text-align: center;
  color: var(--gray1);
}

.alt-container {
  opacity: 0;
}

@media (max-width: 1064px) {
  .hero-content-container {
    margin: 0 24px;
  }
}

@media (max-width: 555px) {
  .hero-content-container {
    margin: 0 16px;
  }
}




















/* Button */

.rectangle {
  position: relative;
  height: 44px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--gray2);
  background: #09090C;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.rectangle h4 {
  font-family: var(--ff-medium);
}

.under-rectangle-layer {
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid var(--gray3);
  background: rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 8px 3px rgba(175, 175, 182, 0.20) inset;
  backdrop-filter: blur(5px);
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.blob {
  position: absolute;
  border-radius: 100px;
  background: rgba(184, 193, 204, 0.20);
  filter: blur(10px);
  z-index: -10;
}

.grain-overlay-button {
  width: 100%;
  height: 100%;
  background: url(images/Grain-big.webp) repeat;
  mix-blend-mode: overlay;
  background-size: fill;
  background-position: center;
  position: absolute;
  z-index: 5;
  opacity: 0.8;
}

.btn-text-container {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  width: fit-content;
  height: 100%;
}

.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1064px) {
  .rectangle {
    height: 38px;
  }
  .under-rectangle-layer {
    padding: 4px;
  }
}

@media (max-width: 555px) {
  .rectangle {
    height: 34px;
  }
  .rectangle h4 {
    font-size: 18px;
  }
}


















/* White button */

.white-btn-container {
  background-color: var(--white);
  height: 23px;
  width: fit-content;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 2px 12px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.white-mini-container {
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
}

.white-btn-container h5 {
  font-family: var(--ff-medium);
}

.white-mini-container:hover .white-btn-container {
  background-color: hsla(235, 5%, 85%, 1);
  transform: scale(1.03);
}

.white-mini-container:active .white-btn-container {
  background-color: var(--gray1);
  transform: scale(0.97) translateZ(0);
  opacity: 0.9;
}

@media (max-width: 555px) {
  .white-mini-container {
    margin-top: 6px;
  }
}


















/* Following circle */

.circle {
  --circle-size: 12px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--white);
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 20;
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}

@media (max-width: 1064px) {

  .circle {
    display: none;
  }
}



























/* Image slider */

.slider-container {
  width: 100vw;
  margin-top: 192px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-opp {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*.logos-opp {
  transform: rotate(180deg);
}*/

.logos,
.logos-opp,
.logos-dbb {
  overflow: hidden;
  padding: 8px 0;
  white-space: nowrap;
  position: relative;
  z-index: 90;
  opacity: 0;
}

.logos-dbb {
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos:before,
.logos:after,
.logos-opp:before,
.logos-opp:after,
.logos-dbb:before,
.logos-dbb:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before,
.logos-opp:before,
.logos-dbb:before {
  left: -10px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.logos:after,
.logos-opp:after,
.logos-dbb:after {
  right: -10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.logos-slide,
.logos-slide-dbb,
.logos-slide-opp {
  display: inline-block;
  animation: 35s slide infinite linear;
  pointer-events: none;
}



.logos-slide img,
.logos-slide-opp img,
.logos-slide-dbb img {
  height: 340px;
  width: auto;
  margin: 0 8px;
  border-radius: 20px;
  pointer-events: auto;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logos-slide img:hover,
.logos-slide-opp img:hover,
.logos-slide-dbb img:hover {
  opacity: 0.7;
  scale: 0.99;
}

.black-bottom-fade-out-container {
  width: 100vw;
  height: 150px;
  bottom: 0;
  z-index: 90;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.89) 71.06%, #000 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black-fade-out-thing-bottom {
  width: 100vw;
  height: 150px;
  bottom: -150px;
  z-index: 90;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
}

.black-bottom-content-container {
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

@media (max-width: 1064px) {
  .black-fade-out-thing-bottom {
    display: none;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: auto;
    width: 50vw;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .logos-slide img:hover,
  .logos-slide-opp img:hover,
  .logos-slide-dbb img:hover {
    opacity: 1;
    scale: 1;
  }

  .logos-slide img:active,
  .logos-slide-opp img:active,
  .logos-slide-dbb img:active {
    opacity: 0.9;
    transform: scale(0.99);
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 50px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 50px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 6px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 6px;
    border-radius: 16px;
  }

  .slider-container {
    margin-top: 128px;
  }

  .black-bottom-fade-out-container {
    height: 130px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 32px;
  }
}

@media (max-width: 555px) {
  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    height: 49vw !important;
    width: auto;
  }

  .logos:before,
  .logos-opp:before,
  .logos-dbb:before {
    width: 36px;
  }

  .logos:after,
  .logos-opp:after,
  .logos-dbb:after {
    width: 36px;
  }

  .logos,
  .logos-opp,
  .logos-dbb {
    padding: 4px 0;
  }

  .logos-slide img,
  .logos-slide-opp img,
  .logos-slide-dbb img {
    margin: 0 4px;
    border-radius: 12px;
  }

  .slider-container {
    margin-top: 92px;
  }

  .black-bottom-fade-out-container {
    height: 150px;
  }

  .black-bottom-content-container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-bottom: 0;
  }
}











/* Preloader */

#preloader {
  display: flex;
  position: fixed;
  background-color: #000;
  gap: 8px;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.dot-cont {
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray2);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

#dot1 {
  animation-delay: 0s;
}

#dot2 {
  animation-delay: 0.2s;
}

#dot3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    background-color: var(--gray1);
  }
  50% {
    transform: translateY(-10px);
    background-color: var(--white);
  }
  100% {
    transform: translateY(0);
    background-color: var(--gray1);
  }
}

#connectionMessage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 16px;
  font: var(--ff-regular);
  color: var(--white);
  margin-top: 8px;
}

#connectionMessage.show {
  opacity: 1;
}
